::ng-deep .main-page{
    nav {   
        background-color:#fff !important;
       
    }
}

nav {
        background-color:#f0f0f0;
        width:calc(100% - 70px);
        z-index: 9;
        padding:10px;
        position: fixed;
        top:0px;
       
        li:not(.login){
            margin-top:10px;
        }
        .logo{
            img{
                height:50px;
            width:auto;
            }
        }
        .login{
            // border:1px solid #000;
            margin:0 15px;
            a{
                color:#bf272d !important;
                text-align: center;
                svg{
                    fill:#000;
                }
                &:hover{
                    background:none !important;
                }
            }
        }
}


.navbar-vertical {
    position:fixed;
    z-index: 1030;
    width: 70px;
    height: 100vh;
    background-color: #f0f0f0;
    top: 0px;
    left:0px;
    padding-left: 15px;
    a{
        padding:0px;
    }
    
    .social-net {
        display: flex;
          flex-flow: column nowrap;
          align-items: flex-start;
        li {
          writing-mode: vertical-lr;
          transform: rotate(180deg);
          transform-origin: center center;
          list-style-type: none;
         a {
            display: block;
            padding:0px;
            margin:0;
            margin-right: -5px;
            color:#000;
            font-size:16px;
            float:left;
            i{
                float:left;
                line-height: 35px;
            }
            span{
                margin:10px;
                float:left
            }
          }
          svg{
              transform: rotate(90deg);
              fill:#bf272d;
          }
        }
      }
    
}

.notice-board{
    position:fixed;
    bottom: 10px;
    left: 3px;
    i{
        background:#bf272d;
        padding:10px;
    }
    a{
        padding:15px !important;
    }
    svg{
        fill: #fff !important;
        margin:0 auto;
        display:block;
    }
}

::ng-deep .notification-popup.modal{
    display: flex !important;
    align-items: center;
.modal-content{
    background-color:#3e65ac;
    padding: 0 15px;
    .modal-title{
        margin-left:15px;
        font-family: "Lora", serif;
        color:#fff;
    }
    i{
        margin-top: 9px;
        display: block;
    }
    svg{
        fill:#fff;
    }
    p{
        color:#fff;
        font-size:28px;
        align-self: center;
    }
    .btn{
        outline: none;
        background:none;
        border:2px solid #fff;
    }
}}

.login-form{
    .row{
        margin-bottom:15px;
    }
	&:first-child{
        border-right:1px solid #ccc;
    }
    .form-check-label{
        margin-left:15px;
    }
}
.navbar-nav-list{
        float: right;
        margin-left: auto;
        list-style-type: none;
        margin-bottom: 0;
    .nav-item{
        font-size:14px;
        float:left;
        a{
            padding:10px;
            font-size:16px;
            font-weight:bold;
            color:#000;
            text-decoration: none;
            &.active, &:hover{
                color:#fff;
                background:#f44336;
             }
        }
        
       &.quick-link{
            a{
                padding-right:0px;
            }
        }
        
        svg{
            width:20px;
            height:20px;
            margin-right:5px;
         }

         &.social-media{
            svg{
                width:24px;
                height:24px;
                margin-right:5px;
             }
         }

    }
}

.newsletter{
    background:#3e65ac;
    padding:40px 0;
    .form-inline{
        margin:0 auto;
    }
    label{
        color:#000;
        font-size:20px;
        margin-right:15px;

    }
    .btn{
        background:#000;
        color:#fff;
        margin-left:15px;
        padding:9px 15px;
        text-transform: uppercase;
        font-size:14px;
    }
}

.overlay{
    display:none;
    background: rgba(225, 225, 225);
    position: fixed;
    width: 100%;
    height: calc(100vh);
    top:0;
    left:0;
    flex-direction: column; /* make main-axis vertical */
    justify-content: center; /* align items vertically, in this case */
    align-items: center; /* align items horizontally, in this case */
    &.active{
        display:flex;
        z-index:10000;
    }
    img{
        position: absolute;
        z-index: -1;
        opacity: 0.1;
    }
    .close-menu{
        position: absolute;
        top:25px;
        left:25px;
    }
     ul.main-nav{
            float:none;
            li{
                float: none;
                text-align: center;
                margin-bottom: 20px;
                a{
                    padding:15px;
                    color:#000;
                    font-size:18px;
                    font-weight:bold;
                    text-decoration: none;
                    &:hover, &.active{
                        color:#f44336;
                    }
                }
            
            }
        }
        .general-info-nav{
            position: absolute;
            bottom:10px;
            text-align:center;
            width:100%;
            a{
                padding: 0 10px;
                &:hover{
                    color:#f44336;
                }
            }
        }
}

@media (max-width: 576px){

	.header-nav{
        position: absolute;
        z-index: 99999999;
        top: 10px;
        right: 70px;
        display: block;
        .login{
            margin:0;
            span{
                display:none;
            }
        }
    }
}
