::ng-deep .main-banner{
    nav {   
        background-color:#fff !important;
       
    }
}
nav {
        background-color:#f0f0f0;
        width:100%;
        z-index: 9;
        padding:1rem;
        .container{
            width:100%;
        }
        li:not(.login){
            margin-top:10px;
        }
        .login{
            background: #000;
            margin:0 15px;
            a{
                color:#fff !important;
                text-align: center;
                svg{
                    fill:#fff;
                }
            }
        }
}


.navbar-vertical {
    position:fixed;
    z-index: 1030;
    width: 70px;
    height: 100vh;
    background-color: #f0f0f0;
    top: 0px;
    a{
        margin-top:30px; 
        padding:0px;
    }
    
    .social-net {
        display: flex;
          flex-flow: column nowrap;
          align-items: flex-start;
        li {
          writing-mode: vertical-lr;
          transform: rotate(180deg);
          transform-origin: center center;
          list-style-type: none;
         a {
            display: block;
            padding:20px 0;
            margin:0;
            margin-right: -5px;
            color:#000;
            font-size:16px;
            float:left;
            i{
                float:left;
                line-height: 35px;
            }
            span{
                margin:10px;
                float:left
            }
          }
          svg{
              transform: rotate(90deg);
              fill:#bf272d;
          }
        }
      }
    
}

.navbar-nav-list{
        float: right;
        margin-left: auto;
        list-style-type: none;
        margin-bottom: 0;
    .nav-item{
        font-size:14px;
        float:left;
        a{
            padding:1rem;
            font-size:16px;
            font-weight:bold;
            color:#000;
            text-decoration: none;
            &.active, &:hover{
                color:#fff;
                background:#f44336;
             }
        }
        
       &.quick-link{
            a{
                padding-right:0px;
            }
        }
        
        svg{
            width:20px;
            height:20px;
            margin-right:5px;
         }

    }
}

.newsletter{
    background:#3e65ac;
    padding:40px 0;
    .form-inline{
        margin:0 auto;
    }
    label{
        color:#000;
        font-size:20px;
        margin-right:15px;

    }
    .btn{
        background:#000;
        color:#fff;
        margin-left:15px;
        padding:9px 15px;
        text-transform: uppercase;
        font-size:14px;
    }
}

.overlay{
    display:none;
    background:rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: calc(100vh);
    top:0;
    &.active{
        display:block;
        z-index:10;
    }
}

@media (max-width: 576px){
	.navbar-nav-list{
        float: left;
        width:100%;
        margin-top: 30px;
        border-top:1px solid #ccc;
	}
}
