<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
    <a href="javascript:void(0)" class="logo" routerLink="Home" routerLinkActive="active"
    skipLocationChange=true>
      <img src="assets/images/logo.png">
  </a>
    <button class="navbar-toggler" type="button" (click)="slideToggel()">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
  <ul class="navbar-nav navbar-nav-list">
    <li class="nav-item login">
      <a class="nav-link">
        <i class="icon icon-small">
          <svg focusable="false">
            <use xlink:href="#icon_chatroom"></use>
          </svg>
        </i><br>
        Chat
      </a>
    </li>
    <li class="nav-item login">
       <a class="nav-link">
         <i class="icon icon-small">
           <svg focusable="false">
             <use xlink:href="#icon_login"></use>
           </svg>
         </i><br>
         Login
       </a>
     </li>
   </ul>
  </nav>
</header>

<nav class="navbar-vertical">
  <a class="nav-link" (click)="slideToggel()">
    <i class="icon icon-small">
      <svg focusable="false">
        <use xlink:href="#icon_menu"></use>
      </svg>
    </i>
  </a> 
  
  <div class="social-net">

    <ul>
        <li><a href="https://www.facebook.com" target="_blank">
                <i class="icon icon-ex-small">
                    <svg focusable="false">
                        <use xlink:href="#icon_facebook"></use>
                    </svg>
                </i>
                <span>Facebook</span>
            </a>
        </li>
        <li><a href="https://www.instagram.com" target="_blank">
                <i class="icon icon-ex-small">
                    <svg focusable="false">
                        <use xlink:href="#icon_instagram"></use>
                    </svg>
                </i>
                <span>Linkedin</span>
            </a>
        </li>
        <li><a href="https://www.twitter.com" target="_blank">
                <i class="icon icon-ex-small">
                    <svg focusable="false">
                        <use xlink:href="#icon_twitter"></use>
                    </svg>
                </i>
                <span>Instagram</span>
            </a>
        </li>

        <li class="notice-board"><a  target="_blank" (click)="open(content)">
          <i class="icon icon-ex-small">
              <svg focusable="false">
                  <use xlink:href="#icon_noticeBoard"></use>
              </svg>
          </i>
       </a>

       <ng-template #content let-modal>
        <div class="modal-header">
          <i class="icon icon-ex-small">
            <svg focusable="false">
                <use xlink:href="#icon_noticeBoard"></use>
            </svg>
        </i>
          <h4 class="modal-title" id="modal-basic-title">NOTICE BOARD</h4>
              <a class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <i class="icon icon-ex-small">
                  <svg focusable="false">
                    <use xlink:href="#icon_close"></use>
                  </svg>
                </i>
              </a>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 v-flex">
             <p>
              Admissions open<br>
              for the academic<br>
              year of 2020 - 2021
             </p>
             <button class="btn btn-primary"  aria-label="Close" (click)="knowMore('admission');">APPLY NOW</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
             <img src="assets/images/notice-board.png">
            </div>
          </div>

        </div>
      </ng-template>
  </li>
    </ul>
</div>
</nav>




<div class="overlay" [ngClass]="isOpen ? '' : 'active'">
  <img src="assets/images/2.jpg">
  <a class="nav-link" (click)="slideToggel()">
    <i class="icon icon-small close-menu">
      <svg focusable="false">
        <use xlink:href="#icon_close"></use>
      </svg>
    </i>
  </a> 
<ul class="main-nav">
      <li class="main-nav-list" *ngFor="let item of list; index as i">
        <a class="main-nav-link" routerLink="{{item.name}}" routerLinkActive="active" skipLocationChange=true (click)="slideToggel()">
          {{item.name | createSpace}}
        </a>
      </li>
    </ul>
    <div class="general-info-nav">
      <a>Sitemap</a> |
      <a>Privacy Policy</a> |
      <a>FAQ</a> |
      <a>Careers</a>
    </div>
</div>