<section class="contact-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <p>
                            The Premia Academy<br>
                            Pillar No. 102, 501 Karwan Sahu Road,<br>
                            Attapur, Hyderabad, Telangana 500008
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <p>
                            +91 9111 399 399<br>
                            admissions@thepremiaacademy.com<br>
                            enquiry@thepremiaacademy.com
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div>
                            <div class="social-net">
                                <ul>
                                    <li><a routerLink="ThePremianStory" routerLinkActive="active" skipLocationChange=true>
                                            The Premian story
                                        </a>
                                    </li>
                                    <li><a routerLink="TheStudyCulture" routerLinkActive="active" skipLocationChange=true>
                                            The Study Culture
                                        </a>
                                    </li>
                                    <li><a routerLink="ThePremianEdge" routerLinkActive="active" skipLocationChange=true>
                                            The Premian edge
                                        </a>
                                    </li>
                                    <li><a routerLink="Admissions" routerLinkActive="active" skipLocationChange=true>
                                            Admissions
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>