<section class="contact-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12" data-aos="fade-up" data-aos-once="true">
                <p>
                    The Premia Academy
                    <br> Pillar No. 102, 501 Karwan Sahu Road,
                    <br> Attapur, Hyderabad, Telangana 500008
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12" data-aos="fade-up" data-aos-once="true">
                <p>
                    +91 9111 399 399
                    <br> admissions@thepremiaacademy.com
                    <br> enquiry@thepremiaacademy.com
                </p>
            </div>
            <!--
            <div class="col-lg-4 col-md-4 col-sm-12" data-aos="fade-up" data-aos-once="true">
                <div>
                    <div class="social-net">
                        <ul>
                            <li><a routerLink="ThePremiaStory" routerLinkActive="active" skipLocationChange=true>
                                    The Premia story
                                </a>
                            </li>
                            <li><a routerLink="ThePremiaCulture" routerLinkActive="active" skipLocationChange=true>
                                    The Premia Culture
                                </a>
                            </li>
                            <li><a routerLink="ThePremiaEdge" routerLinkActive="active" skipLocationChange=true>
                                    The Premia Edge
                                </a>
                            </li>
                            <li><a routerLink="JoinThePremiaPride" routerLinkActive="active" skipLocationChange=true>
                                    Join The Premia Pride
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
-->
        </div>
    </div>
</section>
