<section class="section-admission">
    <div class="breadcum">
        <a>
            <i class="icon icon-ex-small">
                <svg focusable="false">
                    <use xlink:href="#icon_home"></use>
                </svg>
            </i>
        </a>
        <span> |</span>
        <a>
            Admissions
        </a>
    </div>
    <div class="row-f">
        <h1>
            Admissions
        </h1>

        <div class="col-lg-11 col-md-11 col-sm-12 admission-info">
           
         <div class="panel">
              
                <div class="panel-body">
                <p>Thank You for expressing interest in Premia Academy.  We at Premia Academy, welcome all learners to a vibrant school community delivering an ethical education in an academic setting.<br><br>
                    Our admissions policy ensures an appropriate admission procedure with respect to each application received for admission. We pursue to set a selection standard that is fair and consistent. Assessment for admissions to preprimary and primary would be an analysis to evaluate the developmental preparedness of students, using a range of assessment methods to understand the applicant’s skills. Prior to admissions, we assess applicants to determine their readiness for our School providing practical and ethical methods of teaching.</p>
                </div>
            </div>

            <div class="row add-spec">

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p>
                        We at Premia Academy, aspire to ensure that our students nurture their passion for knowledge so they may pursue their dreams and become successful 
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12" *ngFor="let item of admission; index as i">
                        <div class="panel">
                            <div class="panel-front">
                                <div class="panel-heading">
                                    <i class="icon icon-medium">
                                        <svg focusable="false">
                                            <use attr.xlink:href="{{item.icon}}"></use>
                                        </svg>
                                    </i>
                                     
                                        <p>{{item.description}}</p>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        </div>
        <div class="img-flag">
            <img src="assets/images/5.jpg">
        </div>

    </div>
    <div class="clearfix"></div>
    <section class="section-admission-2">
        <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 admission-flag">
            <div class="flag-pos">
                <div class="v-align">
                    <h3 class="bar pp0">Admission<br>
                        to Nursery
                    </h3>
                    <p>
                        The child will have to <br>be 2 years 6 months as <br>on 1st June 2020
                    </p>
                </div>
                </div>
        </div>
    
        <div class="col-lg-9 col-md-9 col-sm-12 addmin-sec">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 add-info" *ngFor="let item of admission_2; index as i">
                    <div class="panel">
                        <div class="panel-front">
                            <div class="panel-heading">
                                <h3 class="bar {{item.bar}}">
                                    {{item.title}}
                                </h3>
                                 
                                    <p>{{item.description}}</p>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    
    </section>
</section>

