<section class="premia-partner">
    <div class="breadcum">
        <a>
            <i class="icon icon-ex-small">
                <svg focusable="false">
                    <use xlink:href="#icon_home"></use>
                </svg>
            </i>
        </a>
        <span> |</span>
        <a>
            The
            Premia Partners
        </a>
    </div>

    <div class="row-f">
        <h1>
            Premia Partners
        </h1>

        <h3>
            <span class="highlighted">"</span>When great ideas and good intentions come
together <span class="highlighted">MAGIC HAPPENS</span>. Meet our friends and
partners who have joined our mission<span class="highlighted">"</span>
        </h3>
    </div>
    
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 grear-container" data-aos="fade-up" data-aos-once="true">
            <div class="gears gears-{{i+1}}" *ngFor="let list of partners; index as i">
                <a (click)="onClick(i+1)">
                    <img src="assets/images/gear-{{i+1}}.png" alt="">
                </a>
            </div>
            <div class="gears gears-9">
                <a href="">
                    <img src="assets/images/gear-9.png" alt="">
                </a>
            </div>
            <div class="gears gears-10">
                <a href="">
                    <img src="assets/images/gear-10.png" alt="">
                </a>
            </div>
            
        </div>
    </div>

<div class="partner-panel">
    <div class="row-f">
        <div class="col-lg-12 col-md-12 col-sm-12 partner-grid" id="{{list.id}}" *ngFor="let list of partners; index as i" data-aos="fade-up" data-aos-once="true">
           <div class="panel">
               <div class="row">
                   <div class="col-lg-6 col-md-6 col-sm-12 left-panel">
                      <h3>{{list.name}}</h3>
                       <p>{{list.title}}</p>
                       <div class="number">0{{i+1}}</div>
                   </div>
                   <div class="col-lg-6 col-md-6 col-sm-12 right-panel">
                    {{list.des}}
                    <div class='read-more' ngbDropdown container="body">
                    <div ngbDropdownToggle>READ MORE</div>

                    <div ngbDropdownMenu>
                        {{list.des2}} 
                      </div>
                </div>
                </div>
               </div>
           </div>
        </div>
    </div>
    </div>

</section>
