<section class="section-inner-subheader">
    <div class="breadcum">
        <a>
            <i class="icon icon-ex-small">
                <svg focusable="false">
                    <use xlink:href="#icon_home"></use>
                </svg>
            </i>
        </a>
        <span> |</span>
        <a>
            Our Team
        </a>
    </div>


    <div class="row the-team-info">
        <div class="col col-lg-8 col-md-8 col-sm-12">
            <h1>
                Our Team
            </h1>
            <div class="panel">

                <div class="panel-body">
                    <h2>Mr. Nallary
                        Pradeep Reddy
                    </h2>
                    <p>
                        Widely recognized as one of the pioneers of the Information Technology revolution in India, Mr
                        Reddy is the MD of The Interbiz and Infosun Group of Companies. He holds a bachelors in
                        Electronics from IIT, Madras & a Masters in Computer Science from Penn State.
                        <br>
                        He is a visionary and has been a guiding force to the Premia Team.
                    </p>

                </div>
            </div>

        </div>

        <div class="col col-lg-3 col-md-3 col-sm-12 avtar">
            <div class="panel">
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row the-team-info">
        <div class="col col-lg-3 col-md-3 col-sm-12 avtar">
            <div class="panel">
                <div class="panel-body">

                </div>
            </div>
        </div>

        <div class="col col-lg-8 col-md-8 col-sm-12">

            <div class="panel">

                <div class="panel-body">
                    <p>
                        Widely recognized as one of the pioneers of the Information Technology revolution in India, Mr
                        Reddy is the MD of The Interbiz and Infosun Group of Companies. He holds a bachelors in
                        Electronics from IIT, Madras & a Masters in Computer Science from Penn State.
                        <br>
                        He is a visionary and has been a guiding force to the Premia Team.
                    </p>

                </div>
            </div>

        </div>


    </div>
    <div class="clearfix"></div>

</section>