.section-inner-subheader{
	margin-bottom:50px;
	.the-team-info{
		margin:0;	
		margin-top:50px;
		.col {
			padding:0;
		}
	}
	
	.panel {
		color:#fff;
		padding:50px;
		margin-bottom:50px;
	}
	h1{
		margin-left:65px;
		margin-bottom: 35px;
	}
	h6{
		margin-left:65px;
	}

	.avtar{
		background:#fff;
	}
	.team-info{
		margin-top:50px;
	}
}

.blue-bg{
	background:#3e65ac;
}
.red-bg{
	background:#bf272d;
}
.black-bg{
	background:#000;
}

@media (max-width: 576px){
		.row-f, .row, h1{
			margin-left:0px; 
	}
	.breadcum{
		margin-left:15px;
	}
	.img-flag{
		padding:15px;
		position: static;
		width:100%;
	}
	.panel-body{
		width:100%;
	}

}