<section class="section-inner-subheader">
    <div class="breadcum">
        <a>
            <i class="icon icon-ex-small">
                <svg focusable="false">
                    <use xlink:href="#icon_home"></use>
                </svg>
            </i>
        </a>
        <span> |</span>
        <a>
            The Premia League
        </a>
    </div>
    <section>
        <div class="container">

            <div class="row">
                <div class="col col-lg-12 col-md-12 col-sm-12" data-aos="fade-up" data-aos-once="true">
                    <h1 class="">
                        THE PREMIA LEAGUE
                    </h1>
                    <h6 class="people-quates">
                      <span class="quates start"> 
                    <i class="icon icon-ex-small">
                        <svg focusable="false">
                            <use xlink:href="#icon_quotes"></use>
                        </svg>
                    </i>
                </span> We are a group of committed individuals who believe that “What sculpture is to a block of marble, education is to the human soul.
                      <span class="commatter">--Joseph Addison.</span>
                      <span class="quates end">
                        <i class="icon icon-ex-small">
                            <svg focusable="false">
                                <use xlink:href="#icon_quotes"></use>
                            </svg>
                        </i>
                      </span>
                       
                    </h6>
                    <P>
                        Our advisory board comprises diverse academicians who have a keen interest in providing a unique perspective to our collective vision. Individually they have contributed tremendously to the field of education, together they bring their unique capacities to our advisory board supporting continual improvement and sustainability.
                        <br>
                        <br> We want to nurture a confident, compassionate student body that is ready to make a positive difference to the World. We affirm that every child deserves a childhood filled with love and positivism. That is the core belief, with which we will take care of each child, as this will contribute to making exemplary individuals.
                    </P>
                </div>
            </div>

            <div class="row the-team-info">
                <div class="col col-lg-12 col-md-12 col-sm-12">
                    <h1 class="center" data-aos="fade-up" data-aos-once="true">
                        THE FOUNDING TEAM
                    </h1>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-12">
                    <div class="panel" data-aos="fade-up" data-aos-once="true">
                        <div class="img-frame">
                            <img src="assets/images/premianleague4.jpg">
                        </div>
                        <div class="panel-body blue-bg" data-aos="fade-up" data-aos-once="true">
                            <h5 data-aos="fade-up" data-aos-once="true">Nallary
                                Pradeep Reddy
                            </h5>
                            <p data-aos="fade-up" data-aos-once="true">
                                Widely recognized as one of the pioneers of the Information Technology revolution in India, Mr Reddy is the MD of The Interbiz and Infosun Group of Companies. He holds a bachelors in Electronics from IIT, Madras & a Masters in Computer Science from Penn State. He is a visionary and has been a guiding force to the Premia Team.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-4 col-md-4 col-sm-12">
                    <div class="panel" data-aos="fade-up" data-aos-once="true">
                        <div class="img-frame">
                            <img src="assets/images/premianleague5.jpg">
                        </div>
                        <div class="panel-body blue-bg" data-aos="fade-up" data-aos-once="true">
                            <h5 data-aos="fade-up" data-aos-once="true">Sinduri Reddy
                            </h5>
                            <p data-aos="fade-up" data-aos-once="true">
                                With a keen interest in education, Ms Sinduri Reddy spearheads the Premia Academy as the Founder and Managing Director. Her focus is to help students and teachers, both, to adapt to the ever changing world of the 21st Century. She is Premia’s strongest pillar!
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row the-team-info">

                <div class="col col-lg-4 col-md-4 col-sm-12">
                    <div class="panel" data-aos="fade-up" data-aos-once="true">
                        <div class="img-frame">
                            <img src="assets/images/premianleague6.jpg">
                        </div>

                        <div class="panel-body blue-bg" data-aos="fade-up" data-aos-once="true">
                            <h5 data-aos="fade-up" data-aos-once="true">
                                Varun Reddy 
                            </h5>
                            <p data-aos="fade-up" data-aos-once="true">
                                A director at The Interbiz and Infosun Group of Companies, he ensures that over 3 Lakh employees spread across 800 clients have access to state-of-the-art Human Resource Automation Applications. He is the CEO and Co-founder of Premia Academy.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-4 col-md-4 col-sm-12">
                    <div class="panel" data-aos="fade-up" data-aos-once="true">
                        <div class="img-frame">
                            <img src="assets/images/premianleague7.jpg">
                        </div>
                        <div class="panel-body blue-bg" data-aos="fade-up" data-aos-once="true">
                            <h5 data-aos="fade-up" data-aos-once="true">
                                Subramanayam Kantheti 
                            </h5>
                            <p data-aos="fade-up" data-aos-once="true">
                                He is a business management professional with an experience of over 25 years. Mr Kantheti has been instrumental in setting up and managing schools across the country. He is the Co-Founder and COO at Premia.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-4 col-md-4 col-sm-12">
                    <div class="panel" data-aos="fade-up" data-aos-once="true">
                        <div class="img-frame">
                            <img src="assets/images/premianleague8.jpg">
                        </div>
                        <div class="panel-body blue-bg" data-aos="fade-up" data-aos-once="true">
                            <h5 data-aos="fade-up" data-aos-once="true">Arti Mandhania 
                            </h5>
                            <p data-aos="fade-up" data-aos-once="true">
                                She has an experience of 13 years and currently is the Business Head. A double post graduate in child psychology and business management, when not with kids, she is found with a book or a painting.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row the-team-info">
                <div class="col col-lg-12 col-md-12 col-sm-12">
                    <h1 class="center" data-aos="fade-up" data-aos-once="true">
                        THE ACADEMIC TEAM
                    </h1>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-12">
                    <div class="panel" data-aos="fade-up" data-aos-once="true">
                        <div class="img-frame">
                            <img src="assets/images/premianleague1.jpg">
                        </div>
                        <div class="panel-body blue-bg" data-aos="fade-up" data-aos-once="true">
                            <h5 data-aos="fade-up" data-aos-once="true">
                                Malini Paul 
                            </h5>
                            <p data-aos="fade-up" data-aos-once="true">
                                Her elegant personna often reflects in her role as the Founding Headmistress at Premia. With an experience of more than 30 years, she is an expert at Pre-School and Primary education.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-4 col-md-4 col-sm-12">
                    <div class="panel" data-aos="fade-up" data-aos-once="true">
                        <div class="img-frame">
                            <img src="assets/images/premianleague2.jpg">
                        </div>
                        <div class="panel-body blue-bg" data-aos="fade-up" data-aos-once="true">
                            <h5 data-aos="fade-up" data-aos-once="true">
                                Trupti Rao 
                            </h5>
                            <p data-aos="fade-up" data-aos-once="true">
                                Her core belief is to impart quality education for all students based on their social, emotional or physical aspects. As the Principal of Premia Academy, Ms Trupti Rao is a dedicated, resourceful educationist with proven ability to create and monitor policies that promote a happy and a safe learning environment.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-4 col-md-4 col-sm-12">
                    <div class="panel" data-aos="fade-up" data-aos-once="true">
                        <div class="img-frame">
                            <img src="assets/images/premianleague3.jpg">
                        </div>
                        <div class="panel-body blue-bg" data-aos="fade-up" data-aos-once="true">
                            <h5 data-aos="fade-up" data-aos-once="true">Rubina Majid
                            </h5>
                            <p data-aos="fade-up" data-aos-once="true">
                                The Curriculum Developer and Master Trainer of Premia Academy, Ms Rubina has worked extensively with schools in India and abroad. At present, besides working with The Premia Academy, Rubina is a consultant with Scholastic India and TCS iON for their educational verticals as well as running the Learning Resource Center, a think tank set up to accelerate and support positive change in our education system.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row the-team-info">

                <div class="col col-lg-12 col-md-12 col-sm-12">
                    <h1 class="center" data-aos="fade-up" data-aos-once="true">
                        THE ADVISORY BOARD
                    </h1>
                </div>


                <div class="col col-lg-4 col-md-4 col-sm-12">
                    <div class="panel" data-aos="fade-up" data-aos-once="true">
                        <div class="img-frame">
                            <img src="assets/images/premianleague9.jpg">
                        </div>
                        <div class="panel-body blue-bg" data-aos="fade-up" data-aos-once="true">
                            <h5 data-aos="fade-up" data-aos-once="true">Lalitha Naidu  
                            </h5>
                            <p data-aos="fade-up" data-aos-once="true">
                                An academician carrying values of purpose, passion and pedagogy, Ms Naidu presently heads the Meridian School, Madhapur. She is the Founder Principal of Shadan Group of Modern Schools.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-4 col-md-4 col-sm-12">
                    <div class="panel" data-aos="fade-up" data-aos-once="true">
                        <div class="img-frame">
                            <img src="assets/images/premianleague10.jpg">
                        </div>
                        <div class="panel-body blue-bg" data-aos="fade-up" data-aos-once="true">
                            <h5 data-aos="fade-up" data-aos-once="true">Dr. Shivranjani Santosh
                            </h5>
                            <p data-aos="fade-up" data-aos-once="true">
                                She is the recipient of TOI’s Rising Star Award. Her YouTube channel empowers people on the importance of first aid. Dr Shivranjani is passionate about parent education and preventive paediatrics.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
