<section class="section-inner-subheader">
    <div class="breadcum">
        <a>
            <i class="icon icon-ex-small">
                <svg focusable="false">
                    <use xlink:href="#icon_home"></use>
                </svg>
            </i>
        </a>
        <span> |</span>
        <a>
            Our Team
        </a>
    </div>


    <div class="row the-team-info">
        <div class="col col-lg-8 col-md-8 col-sm-12">
            <h1>
                Our Team
            </h1>
            <div class="panel blue-bg">

                <div class="panel-body">
                    <h2>Mr. Nallary
                        Pradeep Reddy
                    </h2>
                    <p>
                        Widely recognized as one of the pioneers of the Information Technology revolution in India, Mr
                        Reddy is the MD of The Interbiz and Infosun Group of Companies. He holds a bachelors in
                        Electronics from IIT, Madras & a Masters in Computer Science from Penn State.
                        <br>
                        He is a visionary and has been a guiding force to the Premia Team.
                    </p>

                </div>
            </div>

        </div>

        <div class="col col-lg-3 col-md-3 col-sm-12 avtar">
            <div class="panel">
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row the-team-info">
        <div class="col col-lg-3 col-md-3 col-sm-12 avtar">
            <div class="panel">
                <div class="panel-body">

                </div>
            </div>
        </div>

        <div class="col col-lg-8 col-md-8 col-sm-12 team-info">

            <div class="panel red-bg">

                <div class="panel-body">
                    <h2>Ms Sinduri Reddy
                    </h2>
                    <p>
                        With a keen interest in education, Ms Sinduri Reddy spearheads the Premia Academy as the Founder
                        and Managing Director. Her focus is to help students and teachers, both, to adapt to the ever
                        changing world of the 21st Century. She is Premia’s strongest pillar!
                    </p>

                </div>
            </div>

        </div>


    </div>
    <div class="clearfix"></div>

    <div class="row the-team-info">
        <div class="col col-lg-8 col-md-8 col-sm-12 team-info">

            <div class="panel black-bg">

                <div class="panel-body">
                    <h2>Mr Varun Reddy
                    </h2>
                    <p>
                        A director at The Interbiz and Infosun Group of Companies, he ensures that over 3 Lakh employees
                        spread across 800 clients have access to state-of-the-art Human Resource Automation
                        Applications. He is the CEO and Co-founder of Premia Academy.
                    </p>

                </div>
            </div>

        </div>
        <div class="col col-lg-3 col-md-3 col-sm-12 avtar">
            <div class="panel">
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row the-team-info">
        <div class="col col-lg-3 col-md-3 col-sm-12 avtar">
            <div class="panel">
                <div class="panel-body">

                </div>
            </div>
        </div>

        <div class="col col-lg-8 col-md-8 col-sm-12 team-info">

            <div class="panel blue-bg">

                <div class="panel-body">
                    <h2>Mr Subramanayam
                        Kantheti
                    </h2>
                    <p>
                        He is a business management professional with an experience of over 25 years. Mr Kantheti has
                        been instrumental in setting up and managing schools across the country. He is the Co-Founder
                        and COO at Premia. </p>

                </div>
            </div>

        </div>


    </div>
    <div class="clearfix"></div>

    <div class="row the-team-info">
        <div class="col col-lg-8 col-md-8 col-sm-12 team-info">

            <div class="panel red-bg">

                <div class="panel-body">
                    <h2>Ms Arti Mandhania
                    </h2>
                    <p>
                        She has an experience of 13 years and currently is the Business Head. A double post graduate in
                        child psychology and business management, when not with kids, she is found with a book or a
                        painting.
                    </p>
                </div>
            </div>

        </div>
        <div class="col col-lg-3 col-md-3 col-sm-12 avtar">
            <div class="panel">
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row the-team-info">

        <div class="col col-lg-3 col-md-3 col-sm-12 avtar">
            <div class="panel">
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col col-lg-8 col-md-8 col-sm-12 team-info">

            <div class="panel black-bg">

                <div class="panel-body">
                    <h2>Ms Malini Paul
                    </h2>
                    <p>
                        Her elegant personna often reflects in her role as the Founding Headmistress at Premia. With an
                        experience of more than 30 years, she is an expert at Pre-School and Primary education.
                    </p>
                </div>
            </div>

        </div>

    </div>
    <div class="clearfix"></div>

</section>