.section-inner-subheader{
	margin-bottom:50px;
	.the-team-info{
		display: flex;
		align-items: center;
		justify-content:center;
		margin:0;	
		margin-top:50px;
		.col {
			padding:0;
		}
		.panel.img-info{
			padding:0px;
			margin-bottom: 0;	
		}
		
	}	
	.panel {
		color:#fff;
		padding:50px;
		margin-bottom:50px;
		.panel-body{
			margin-top: -70px;
			z-index: -1;
			position: relative;
			padding:80px 20px 1px;
			border-radius: 25px 25px 0 0;
			h5{
				font-size: 16px;
				background: #fff;
				border-radius: 20px;
				color: #bf272d;
				text-align: center;
				padding: 5px 0;
				box-shadow: 1px 1px 3px 0px #0e0e0e;
			}
		}
	}
	h1{
		margin-left:65px;
		margin-bottom: 35px;
	}
	h6{
		margin-left:65px;
	}
	.avtar{
		background:#fff;
	}
	.team-info{
		margin-top:50px;
	}
}
.the-team-info{
	img {
		width: 70%;
		text-align: center;
		display: block;
		margin: 0 auto;
	  }
}
.blue-bg{
	background:#3e65ac;
}
.red-bg{
	background:#bf272d;
}
.black-bg{
	background:#000;
}

@media (max-width: 576px){
		.row-f, .row, h1{
			display:block;
	}
	.breadcum{
		margin-left:15px;
	}
	.img-flag{
		padding:15px 0px;
		position: static;
		width:100%;
	}
	.panel-body{
		width:100%;
	}
	.avtar{
		display: none;
	}

}