.section-inner-subheader{
	.row-f, .row{
		margin:70px 0 100px; 
		position: relative;
	}
	.img-flag{
		position: absolute;
		right:0;
		top:0;
		width: 40%;
	}
	.panel {
		background:#fff;
		padding:50px;
		p{
			font-size:72px;
			color:#f0f0f0;
			font-weight: bold;
		}
		.panel-body{
			width:50%;
		}
	}
	h1{
		margin-left:65px;
		margin-bottom: 35px;
	}
	h6{
		margin-left:65px;
	}

	.img-flag{
		position: absolute;
		right:0;
		top:0;
		width: 50%;
	}
	.inner-contact-info{
		background:#fff;
		padding: 50px; 
		.row{
			margin:0px;	
		}
		p{
		   color:#000;
		   font-size:14px; 
		   font-weight:normal;
		   
		   a{
			   color:#000;

		   }
		}
		.highlighted{
			color:#bf272d;
		}

		.social-net{
			float:right;
			li{
				float:left;
				margin-right:15px;
				svg{
					fill:#bf272d;
				}
			}
		}
	}
}


@media (max-width: 576px){
		.row-f, .row, h1{
			margin-left:0px; 
	}
	.breadcum{
		margin-left:15px;
	}
	.img-flag{
		padding:15px;
		position: static;
		width:100%;
	}
	.panel-body{
		width:100%;
	}

}