<div class="map">
    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=Pillar%20No.102,%20PVNR%20Express%20way,%20501%20Karwan%20Sahu%20Road,%20%20Attapur,%20Hyderabad,%20Telangana%20500008,%20India%20Hyderabad+(The%20Premia%20Academy)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
    <script type='text/javascript'
        src='https://embedmaps.com/google-maps-authorization/script.js?id=f9059a527fc461bcc6e4ca8c957752c8ece552e0'></script>
</div>
<section class="section-inner-subheader">
    <div class="breadcum">
        <a>
            <i class="icon icon-ex-small">
                <svg focusable="false">
                    <use xlink:href="#icon_home"></use>
                </svg>
            </i>
        </a>
        <span> |</span>
        <a>
            Contact Us
        </a>
    </div>
    <div class="row-f">
        <h1>
            Contact Us
        </h1>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row inner-contact-info">
                <div class="col-lg-6 col-md-6 col-sm-12 contact-form">
                    <h5 class="col">Get in touch</h5>
                    <form action="/action_page.php">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="in" placeholder="Last Name" name="ln">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="phone" class="form-control" placeholder="Phone" name="phone">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="email" placeholder="Mail ID" name="email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="comment">Comment:</label>
                                <textarea class="form-control" rows="3" id="comment"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="icon icon-medium">
                            <svg focusable="false">
                                <use xlink:href="#icon_plane"></use>
                            </svg>
                            </i> 
                        </button>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 contact-info">
                    <h5 class="col info-title">CONTACT<br>
                        INFORMATION</h5>
                    <div class="row tel">
                        <i class="icon icon-small">
                            <svg focusable="false">
                                <use xlink:href="#icon_phone"></use>
                            </svg>
                        </i>
                        <p>
                            +91 9111 399 399
                        </p>
                    </div>
                    <div class="row address">
                        <i class="icon icon-small">
                            <svg focusable="false">
                                <use xlink:href="#icon_map"></use>
                            </svg>
                        </i>
                        <p>
                            Pillar No.102, PVNR Express way,<br> 501 Karwan Sahu Road, <br>Attapur, Hyderabad, Telangana 500008,<br>
                            India
                        </p>
                    </div>
                    <div class="row email">
                        <i class="icon icon-small">
                            <svg focusable="false">
                                <use xlink:href="#icon_message"></use>
                            </svg>
                        </i>
                        <p>
                            <a href="mailto:admissions@thepremiaacademy.com">admissions@thepremiaacademy.com</a><br>
                            <a href="mailto:enquiry@thepremiaacademy.com">enquiry@thepremiaacademy.com</a>
                        </p>
                    </div>
                    <div class="social-net">
                        <ul>
                            <li *ngFor="let item of socialNet; index as i">
                                <a href="https://www.{{item.icon}}.com" target="_blank">
                                    <i class="icon icon-ex-small">
                                        <svg focusable="false">
                                            <use attr.xlink:href="{{item.icon}}"></use>
                                        </svg>
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>