<section class="the-urriculum">
    <div class="breadcum">
        <a>
            <i class="icon icon-ex-small">
                <svg focusable="false">
                    <use xlink:href="#icon_home"></use>
                </svg>
            </i>
        </a>
        <span> |</span>
        <a>
            Premia Curriculum
        </a>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 data-aos="fade-up" data-aos-once="true">
                Premia Curriculum
            </h1>
            <div class="panel-body" data-aos="fade-up" data-aos-once="true">
                <h2 class="center">“Integrating the pedagogies of the world, So our little
                    global citizens are ignited, inspired and explored.”
                </h2>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12" data-aos="fade-up" data-aos-once="true">
            <img src="assets/images/map.jpg">
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12" data-aos="fade-up" data-aos-once="true">
            <h2>Why an Integrated Curriculum?</h2>
            <p>The Premia Integrated Curriculum offers our students many opportunities for deep learning as they use
                their knowledge to make connections between subjects or disciplines to decode
                the simplicities and intricacies of life</p>
        </div>

    </div>

    <div class="row curriculum-info">
        <div class="col col-lg-2 col-md-2 col-sm-12" data-aos="fade-up" data-aos-once="true">
            <p>Students develop
                new levels of
                awareness -</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-up" data-aos-once="true">
            <p>Of the world
                Of themselv es
                And their place in it</p>
        </div>
    </div>
    <div class="row curriculum-info">
        <div class="col col-lg-2 col-md-2 col-sm-12" data-aos="fade-up" data-aos-once="true">
            <p>Students develop
                new levels of
                awareness -</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-up" data-aos-once="true">
            <p>Of the world
                Of themselv es
                And their place in it</p>
        </div>
    </div>

    <div class="row int-curriculum">
        <div class="col col-lg-12 col-md-12 col-sm-12" data-aos="fade-up" data-aos-once="true">
            <h1>What is an Integrated Curriculum?</h1>
            <p>An Integrated Curriculum is a unification of all subjects and experiences.
                The intertwining of different approaches to integration such as</p>
        </div>

        <div class="col col-lg-12 col-md-12 col-sm-12" data-aos="fade-up" data-aos-once="true">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div>
                        <h3>
                            <i class="icon icon-medium">
                                <svg focusable="false">
                                    <use xlink:href="#icon_ethicalEdu"></use>
                                </svg>
                            </i>
                            Multi-disciplinary
                        </h3>
                        <p>Focuses primarily on the various disciplines allowing the students to correlate different
                            subjects to a
                            common theme.
                        </p>
                    </div>

                    <div>
                        <h3>
                            <i class="icon icon-medium">
                                <svg focusable="false">
                                    <use xlink:href="#icon_ethicalEdu"></use>
                                </svg>
                            </i>
                            Interdisciplinary
                        </h3>
                        <p>Integrating the sub-disciplines within a subject area makes students nderstand the
                            connections between
                            the different sub-disciplines and their relationship. Example: Integrating reading, writing,
                            and oral
                            communication in language arts.
                        </p>
                    </div>

                    <div>
                        <h3>
                            <i class="icon icon-medium">
                                <svg focusable="false">
                                    <use xlink:href="#icon_ethicalEdu"></use>
                                </svg>
                            </i>
                            Transdisciplinary
                        </h3>
                        <p>Here the curriculum is organized around student questions and concerns.
                            Two routes lead to transdisciplinary integration: i.e project-research based and
                            collaborative learning.
                        </p>
                    </div>

                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <img src="assets/images/int-curricolum.jpg">
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12" data-aos="fade-up" data-aos-once="true">
            <h3>How do we integrate - Premia Niche?</h3>
            <p>The core belief of our curriculum works on Howard Gardner’s Theory of Multiple Intelligences.<br>
                Fulfills the learning outcomes of CBSE, IGCSE, Common Core, Aero & IB<br>
                Considers different types of learners in a class<br>
                Caters to the innate aptitudes and attitudes of every student<br>
                Aids differentiated learning- allows for individual learning processes<br>
                Enables each learner to utilise his or her specific abilities to demonstrate learning.<br><br>

                <b> Our curriculum is an amalgamation of the different Methodologies & Theories of teaching
                    such as Maria Montessori, Reggio Emilio, Jean Piaget etc. Where</b><br><br>

                Reading and literacy is the base- World class Scholastic Levelled Bookroom 4.0
                Research for a learning experience is encouraged
                Expanding the world view is a norm<br><br>

                <b> Thus, helping them evolve their authentic self, driven by purpose and fuelled by passion.
                    Every well wisher of a child wants the child to be successful and happy, this can be achieved
                    if we encourage children to be their true and authentic selves.</b>
            </p>
        </div>
    </div>

    <div class='row cur-info-slider'>
        <input type="radio" id="animal" name="wiki" value="Animal" checked>
<input type="radio" id="plant" name="wiki" value="Plant">
<input type="radio" id="space" name="wiki" value="Space">
<input type="radio" id="river" name="wiki" value="River">

<ul class="accordion">
  <li data-radio="animal">
    <label for="animal" class="accordion-title">
      <span>01</span>
      <span class="accordion-heading">Visual & Spatial</span>
    </label>
    <div class="accordion-content">Animals are multicellular eukaryotic organisms that form the biological kingdom Animalia. With few exceptions, animals consume organic material, breathe oxygen, are able to move, can reproduce sexually, and grow from a hollow sphere of cells, the blastula, during embryonic development. Over 1.5 million living animal species have been described—of which around 1 million are insects—but it has been estimated there are over 7 million animal species in total. Animals range in length from 8.5 millionths of a metre to 33.6 metres (110 ft). They have complex interactions with each other and their environments, forming intricate food webs. The kingdom Animalia includes humans, but in colloquial use the term animal often refers only to non-human animals. The study of non-human animals is known as zoology.</div>
  </li>
  <li data-radio="plant">
    <label for="plant" class="accordion-title">
      <span>02</span>
      <span class="accordion-heading">Linguistic / Word Smart</span>
    </label>
    <div class="accordion-content">MPlants are mainly multicellular, predominantly photosynthetic eukaryotes of the kingdom Plantae. Historically, plants were treated as one of two kingdoms including all living things that were not animals, and all algae and fungi were treated as plants. However, all current definitions of Plantae exclude the fungi and some algae, as well as the prokaryotes (the archaea and bacteria). By one definition, plants form the clade Viridiplantae (Latin name for "green plants"), a group that includes the flowering plants, conifers and other gymnosperms, ferns and their allies, hornworts, liverworts, mosses and the green algae, but excludes the red and brown algae.</div>
  </li>
  <li data-radio="space">
    <label for="space" class="accordion-title">
      <span>03</span>
      <span class="accordion-heading">Logical / Mathematical</span>
    </label>
    <div class="accordion-content">Space is the boundless three-dimensional extent in which objects and events have relative position and direction. Physical space is often conceived in three linear dimensions, although modern physicists usually consider it, with time, to be part of a boundless four-dimensional continuum known as spacetime. The concept of space is considered to be of fundamental importance to an understanding of the physical universe. However, disagreement continues between philosophers over whether it is itself an entity, a relationship between entities, or part of a conceptual framework.</div>
  </li>
  <li data-radio="river">
    <label for="river" class="accordion-title">
      <span>04</span>
      <span class="accordion-heading">Bodily / Kinesthetic</span>
    </label>
    <div class="accordion-content">A river is a natural flowing watercourse, usually freshwater, flowing towards an ocean, sea, lake or another river. In some cases a river flows into the ground and becomes dry at the end of its course without reaching another body of water. Small rivers can be referred to using names such as stream, creek, brook, rivulet, and rill. There are no official definitions for the generic term river as applied to geographic features, although in some countries or communities a stream is defined by its size. Many names for small rivers are specific to geographic location; examples are "run" in some parts of the United States, "burn" in Scotland and northeast England, and "beck" in northern England. Sometimes a river is defined as being larger than a creek, but not always: the language is vague.</div>
  </li>
</ul>
    </div>

</section>