 .highlighted {
     color: #bf272d;
 }
 .the-urriculum {
     .breadcum {
         margin-left: 87px;
         margin-bottom: 15px;
     }
     .row {
         position: relative;
     }
     .map-marker {
         margin: 30px 0px;
     }
     .curriculum-info {
         .first-child {
             margin-top: 40px;
         }
         margin-bottom:40px;
         .col {
             border-right: 2px solid #000;
         }
     }
     .int-curriculum {
         background: #3e65ac;
         color: #fff;
         padding: 20px;
         margin: 20px 0 70px;
         margin-left: 87px;
         svg {
             fill: #fff;
         }
         .row {
             margin: 0px;
         }
     }
 }
 .cur-info-slider {
     margin: 70px 0;
     .item-1 {
         background: #ba262c;
     }
     .item-2 {
         background: #3e65ac;
     }
     .item-3 {
         background: #000000;
     }
     .item-4 {
         background: #5fffb7;
     }
     .item-5 {
         background: #ba262c;
     }
     .item-6 {
         background: #3e65ac;
     }
     .item-7 {
         background: #000000;
     }
     .item-8 {
         background: #5fffb7;
     }
     .item-9 {
         background: #ba262c;
     }
     .active {
         &.item-1,
         &.item-2,
         &.item-3,
         &.item-4,
         &.item-5,
         &.item-6,
         &.item-7,
         &.item-8,
         &.item-9 {
             background: #fff;
             transform: scale(1.1);
         }
         &.item-1 {
             border-left: 20px solid #ba262c;
         }
         &.item-2 {
             border-left: 20px solid #3e65ac;
         }
         &.item-3 {
             border-left: 20px solid #000000;
         }
         &.item-4 {
             border-left: 20px solid #5fffb7;
         }
         &.item-5 {
             border-left: 20px solid #ba262c;
         }
         &.item-6 {
             border-left: 20px solid #3e65ac;
         }
         &.item-7 {
             border-left: 20px solid #000000;
         }
         &.item-8 {
             border-left: 20px solid #5fffb7;
         }
         &.item-9 {
             border-left: 20px solid #ba262c;
         }
     }
     .img-box {
         box-sizing: border-box;
         float: left;
         height: 130px;
         img {
             height: 100%;
         }
         &~div {
             display: inline-block;
             margin-left: 20px;
             word-wrap: break-all;
             h3 {
                 margin-top: 30px;
             }
         }
         img {
             width: auto;
         }
     }
     .heading-title {
         display: block;
         text-align: center;
         position: relative;
         margin: 0px;
         span {
             padding: 0 15px;
             position: relative;
             z-index: 1;
             color: #fff;
         }
         &::after {
             content: " ";
             position: absolute;
             top: 20px;
             left: 1px;
             width: 100%;
             height: 1px;
             background: #fff;
         }
     }
     .gallery-wrap {
         display: flex;
         flex-direction: row;
         width: 100%;
         height: 100vh;
     }
     #style-4::-webkit-scrollbar-track {
         -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
         background-color: #F5F5F5;
     }
     #style-4::-webkit-scrollbar {
         width: 10px;
         background-color: #F5F5F5;
     }
     #style-4::-webkit-scrollbar-thumb {
         background-color: #000000;
         border: 2px solid #555555;
     }
     .titles {
         h3 {
             font-size: 20px;
         }
         h1 {
             font-size: 22px;
         }
         h6 {
             font-size: 18px;
         }
     }
     .item {
         flex: 1;
         height: 100%;
         background-position: center;
         background-size: cover;
         background-repeat: none;
         transition: flex 0.8s ease;
         cursor: pointer;
         .panel {
             display: none;
         }
         h2 {
             writing-mode: vertical-rl;
             color: rgb(255, 255, 255, .7);
             padding-top: 15px;
             font-size: 18px;
             font-weight: bold;
             padding: 15px;
         }
         &.active {
             flex: 10;
             padding: 0px 15px;
             box-shadow: 0 4px 15px 5px rgb(0 0 0 / 15%);
             h2 {
                 display: none;
             }
             .panel {
                 display: block;
                 .panel-body {
                     padding: 15px;
                     margin-bottom: 15px;
                     margin-top: 15px;
                     background: #f0f0f0;
                     p {
                         font-weight: bold;
                         margin-bottom: 5px;
                     }
                 }
             }
         }
     }
     .social {
         position: absolute;
         right: 35px;
         bottom: 0;
         img {
             display: block;
             width: 32px;
         }
     }
 }
 .panel-body p.intel {
     color: #3E65AC;
     cursor: auto;
 }
 @media (max-width: 576px) {
     .our-partners .img-box ~ div {
         margin-left: 0px;
     }
     .the-urriculum .int-curriculum {
         display: block;
         margin-left: 0px;
     }
     .cur-info-slider {
         display: none;
     }
 }
