<section class="the-urriculum">
  <div class="breadcum">
    <a>
      <i class="icon icon-ex-small">
        <svg focusable="false">
          <use xlink:href="#icon_home"></use>
        </svg>
      </i>
    </a>
    <span> |</span>
    <a>
      Premia Curriculum
    </a>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 data-aos="fade-up" data-aos-once="true">
        Premia Curriculum
      </h1>
      <div class="panel-body" data-aos="fade-up" data-aos-once="true">
        <h2 class="center">“Integrating the pedagogies of the world, So our little
          global citizens are ignited, inspired and explored.”
        </h2>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 map-marker" data-aos="fade-up" data-aos-once="true">
      <img src="assets/images/map.jpg">
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12" data-aos="fade-up" data-aos-once="true">
      <h2>Why an Integrated Curriculum?</h2>
      <p>The Premia Integrated Curriculum offers our students many opportunities for deep learning as they use
        their knowledge to make connections between subjects or disciplines to decode
        the simplicities and intricacies of life</p>
    </div>

  </div>

  <div class="row curriculum-info">
    <div class="col col-lg-2 col-md-2 col-sm-12" data-aos="fade-up" data-aos-once="true">
      <p>Students develop
        new levels of
        awareness -</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-up" data-aos-once="true">
      <p>
●	Of the world<br>
●	Of themselves<br>
●	 And their place in it

      </p>
    </div>
  </div>
  <div class="row curriculum-info">
    <div class="col col-lg-2 col-md-2 col-sm-12" data-aos="fade-up" data-aos-once="true">
      <p>Students develop
        new levels of
        awareness -</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-up" data-aos-once="true">
      <p>
●	Own their learning and<br>
●	Understand how to learn versus what to learn<br>
●	Renew their curiosity of the world around them
        </p>
    </div>
  </div>

  <div class="row int-curriculum">
    <div class="col col-lg-12 col-md-12 col-sm-12" data-aos="fade-up" data-aos-once="true">
      <h1>What is an Integrated Curriculum?</h1>
      <p>An Integrated Curriculum is a unification of all subjects and experiences.
        The intertwining of different approaches to integration such as</p>
    </div>

    <div class="col col-lg-12 col-md-12 col-sm-12" data-aos="fade-up" data-aos-once="true">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div>
            <h3>
              <i class="icon icon-medium">
                <svg focusable="false">
                  <use xlink:href="#icon_ethicalEdu"></use>
                </svg>
              </i>
              Multi-disciplinary
            </h3>
            <p>Focuses primarily on the various disciplines allowing the students to correlate different
              subjects to a
              common theme.
            </p>
          </div>

          <div>
            <h3>
              <i class="icon icon-medium">
                <svg focusable="false">
                  <use xlink:href="#icon_ethicalEdu"></use>
                </svg>
              </i>
              Interdisciplinary
            </h3>
            <p>Integrating the sub-disciplines within a subject area makes students nderstand the
              connections between
              the different sub-disciplines and their relationship. Example: Integrating reading, writing,
              and oral
              communication in language arts.
            </p>
          </div>

          <div>
            <h3>
              <i class="icon icon-medium">
                <svg focusable="false">
                  <use xlink:href="#icon_ethicalEdu"></use>
                </svg>
              </i>
              Transdisciplinary
            </h3>
            <p>Here the curriculum is organized around student questions and concerns.
              Two routes lead to transdisciplinary integration: i.e project-research based and
              collaborative learning.
            </p>
          </div>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
          <img src="assets/images/int-curricolum.jpg">
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12" data-aos="fade-up" data-aos-once="true">
      <h3>How do we integrate - Premia Niche?</h3>
      <p>The core belief of our curriculum works on Howard Gardner’s Theory of Multiple Intelligences.<br>
        Fulfills the learning outcomes of CBSE, IGCSE, Common Core, Aero & IB<br>
        Considers different types of learners in a class<br>
        Caters to the innate aptitudes and attitudes of every student<br>
        Aids differentiated learning- allows for individual learning processes<br>
        Enables each learner to utilise his or her specific abilities to demonstrate learning.<br><br>

        <b> Our curriculum is an amalgamation of the different Methodologies & Theories of teaching
          such as Maria Montessori, Reggio Emilio, Jean Piaget etc. Where</b><br><br>

        Reading and literacy is the base- World class Scholastic Levelled Bookroom 4.0
        Research for a learning experience is encouraged
        Expanding the world view is a norm<br><br>

        <b> Thus, helping them evolve their authentic self, driven by purpose and fuelled by passion.
          Every well wisher of a child wants the child to be successful and happy, this can be achieved
          if we encourage children to be their true and authentic selves.</b>
      </p>
    </div>
  </div>

  <div class='cur-info-slider'>
    <div class="container">

      <div class="gallery-wrap">
        <div class="item item-1" (click)="onClick(1)" [ngClass]="{'active': tab==='tab1'}">
            <h2>Visual & Spatial</h2>
          <div class="panel">
            <div class="panel-heading">
              <div class="img-box">
                <img src="assets/images/curriculum-01.png">
              </div>
              <div class='titles'>
                <h3>Intelligences </h3>
                <h1>Visual & Spatial</h1>
                <h6>Picture Smart</h6>
              </div>
            </div>
            <div class='panel-body'>
              <p>
                Nuances The learner exhibits The Incline /Exclusive:
                Unique skills and likes
              </p>
              
              <a href=""> Art and decoration |
                Culinary design | Photography
                Movement and space management
                </a>
            
            </div>

            <div class='panel-body'>
              <p>
                Sparks: What Excites Them 
              </p>
              <a href="">Visualizing colour | drawing painting | maps | graphs | artistic composition |
               visual puzzles and geometry
              </a>
            </div>

            <div class='panel-body'>
              <p>
                The Premia  Path : Helping  Them Thrive
              </p>
              <a href="">Integrated art and design in the curriculum |  
                Creya Design Thinking | Yardstick experiential kits
                
              </a>
            </div>

            <div class='panel-body'>
              <p>
                The Prodigies   : The Shining Ones
              </p>
              <a href="">Leonardo 
                Da Vinci 
                &
                 M . F Hussain
              </a>
            </div>

          </div>

        </div>

        <div class="item item-2" (click)="onClick(2)" [ngClass]="{'active': tab==='tab2'}">
            <h2>Linguistic</h2>
            <div class="panel">
              <div class="panel-heading">
                <div class="img-box">
                  <img src="assets/images/curriculum-01.png">
                </div>
                <div class='titles'>
                  <h3>Intelligences </h3>
                  <h1>Linguistic -</h1>
                  <h6>Word Smart</h6>
                </div>
              </div>
              <div class='panel-body'>
                <p>
                  Nuances The learner exhibits The Incline /Exclusive:
                  Unique skills and likes
                </p>
                <a href=""> Reading | Excellent at vocabulary | Use Quotes | Learn Foriegn languages</a>
              </div>
  
              <div class='panel-body'>
                <p>
                  Sparks: What Excites Them 
                </p>
                <a href=""> Reading | writing | editing | quoting & Journal writing.
                  Is a  Multi Linguist | Orator | Poet | Professor | Teacher |
                  Translator
                  </a>
              </div>

              <div class='panel-body'>
                <p>
                  The Premia  Path : Helping  Them Thrive
                </p>
                <a href="">Guided reading program
                  Scholastic levelled Bookroom across curriculum | Read alouds | Readers Theatre | Poetry writing | Role play and dramatics | Author visits | book talks | Novel reviews etc.
                  
                  
                </a>
              </div>
  
              <div class='panel-body'>
                <p>
                  The Prodigies   : The Shining Ones
                </p>
                <a href="">Helen Keller 
                  &
                   Rabindranath Tagore
                  
                </a>
              </div>
  
            </div>

        </div>

        <div class="item item-3" (click)="onClick(3)" [ngClass]="{'active': tab==='tab3'}">
            <h2>Logical / Mathematical</h2>
            <div class="panel">
              <div class="panel-heading">
                <div class="img-box">
                  <img src="assets/images/curriculum-01.png">
                </div>
                <div class='titles'>
                  <h3>Intelligences </h3>
                  <h1>Logical / Mathematical</h1>
                  <h6>Word Smart</h6>
                </div>
              </div>
              <div class='panel-body'>
                <p>
                  Nuances The learner exhibits The Incline /Exclusive:
                  Unique skills and likes
                </p>
                <a href="">Reading | writing | editing | quoting & Journal writing. |
                  Is a  Multi Linguist |  Orator | Poet | Professor | Teacher |
                  Translator
                </a>
              </div>
  
              <div class='panel-body'>
                <p>
                  Nuances The learner exhibits The Incline /Exclusive:
                  Unique skills and likes
                </p>
                <a href="">Reading</a> |
                <a href="">Reading</a> |
                <a href="">Reading</a> |
                <a href="">Reading</a> |
              </div>
  
            </div>

        </div>

        <div class="item item-4" (click)="onClick(4)" [ngClass]="{'active': tab==='tab4'}">
            <h2>Bodily / Kinesthetic</h2>
            <div class="panel">
              <div class="panel-heading">
                <div class="img-box">
                  <img src="assets/images/curriculum-01.png">
                </div>
                <div class='titles'>
                  <h3>Intelligences </h3>
                  <h1>Bodily / Kinesthetic</h1>
                  <h6>Word Smart</h6>
                </div>
              </div>
              <div class='panel-body'>
                <p>
                  Nuances The learner exhibits The Incline /Exclusive:
                  Unique skills and likes
                </p>
                <a href="">Reading</a> |
                <a href="">Reading</a> |
                <a href="">Reading</a> |
                <a href="">Reading</a> |
              </div>
  
              <div class='panel-body'>
                <p>
                  Nuances The learner exhibits The Incline /Exclusive:
                  Unique skills and likes
                </p>
                <a href="">Reading</a> |
                <a href="">Reading</a> |
                <a href="">Reading</a> |
                <a href="">Reading</a> |
              </div>
  
            </div>

        </div>

      </div>

    </div>
  </div>

</section>