<section class="section-study-culture">
    <div class="breadcum">
        <a>
            <i class="icon icon-ex-small">
                <svg focusable="false">
                    <use xlink:href="#icon_home"></use>
                </svg>
            </i>
        </a>
        <span> |</span>
        <a>
            The
            Premia Story
        </a>
    </div>

    <div class="row-f">
        <h1>
            The<br>
            Premia Story
        </h1>
        <div class="col-lg-11 col-md-11 col-sm-12 story sub-header">
            <div class="panel">
                <h2>
                    Who we are
                </h2>
                <div class="panel-body">
                <p>We are a group of committed individuals who believe that “What sculpture is to a block of marble, education is to the human soul.” Joseph Addison.
                    <br><br>
                    Our advisory board comprises of diverse academicians who have a keen interest in providing a unique perspective to our collective vision. Individually they have contributed tremendously to the field of education, together they bring their unique capacities to our advisory board supporting continual improvement and sustainability.
               </p>
                </div>
            </div>
            <div class="row add-spec">

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p>
                        We want to nurture a confident, compassionate student body that is ready to make a positive difference to the World. We affirm that every child deserves a childhood filled with love and positivism. That is the core belief, with which we will take care of each child, as this will contribute to making exemplary individuals. </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12" *ngFor="let item of story; index as i">
                        <div class="panel">
                            <div class="panel-front">
                                <div class="panel-heading">
                                    <i class="icon icon-medium">
                                        <svg focusable="false">
                                            <use attr.xlink:href="{{item.icon}}"></use>
                                        </svg>
                                    </i>
                                     
                                        <p>{{item.description}}</p>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="doodle">
                The Premia Story
            </div>
        </div>
        <div class="img-flag">
            <img src="assets/images/5.jpg">
        </div>

    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-12"></div>
        <div class="col-lg-11 col-md-11 col-sm-12"> <h2>
            The Quest
        </h2></div>
        <div class="col-lg-1 col-md-1 col-sm-12"></div>

        <div class="col-lg-11 col-md-11 col-sm-12">
        <div class="panel story-info">
            <span class="flying-plane">
                <span>.........................................</span>
            <i class="icon icon-small">
                <svg focusable="false">
                    <use xlink:href="#icon_plane"></use>
                </svg>
            </i> 
        </span>
            <p>Just like any involved parent, our Director, Sinduri Reddy, began a quest to find a school that would nurture her growing preschoolers in the best way possible.
                    <br><br>
                    After putting together the best of schools and undergoing immense research, there were still certain factors like cleanliness, Ethos, Curriculum Focus, distance, etc. that made it impossible for her to choose. 
                    So, like a popular thought,” when you can’t find someone to do exactly what you, get up and do it yourself!” That’s exactly what she did! 
                    <br><br>
                    Her endeavours have snowballed into the Premia Academy.
                </p>
               
            </div>
        </div>

    </div>




</section>