body{
	color:#000;
	font-family: 'Quicksand', sans-serif;
	font-size:14px;
	background:url(../assets/images/body.png) repeat #f0f0f0;
}

.left-space{
	padding-left: 70px;
	float: left;
	width:100%;
}

.slick-prev:before, .slick-next:before{
	color:#000;
}

*{
	outline:none;
}
a{
	cursor: pointer;
}
.remove-scroll{
	overflow:hidden;
}
.form-control, .btn{
	border-radius: 0;
}
.v-flex{
	align-self: center;
}
.lines{
	display:none;
	width:2px;
	height:100%;
	position: absolute;
	background:#fff;
	top:0;
	&._1{
		left:20%;
	}
	&._2{
		left:40%;
	}
	&._3{
		left:60%;
	}
	&._4{
		left:80%;
	}
	&._5{
		left:100%;
	}
}
.breadcum{
	margin-top:115px;
	margin-left:70px;
	font-family: "Lora", serif;
	span{
		margin:0 15px;
	}
	.icon-ex-small{
		svg{
			width: 14px;
			height: 14px;
		}
	}
	
}

.clearfix{
	clear: both;
	float:none;
	
}

.text-highlighter{
	color:#bf272d;
}
.bg-highlighter{
	background:#bf272d;
}
ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.btn{
	font-weight:bold;
	font-size: 12px;
    padding: 5px 10px;
}
h1{
	font-size:40px;
	font-family: 'Lora', serif;
}
h2{
	font-size:34px;
	font-family: "Lora", serif;
}
h3{
	font-size:30px;
}
h4{
	font-size:26px;
}
h5{
	font-size:22px;
}
h6{
	font-size:18px; 
	line-height: 32px;
}
h1{
	font-weight:bold;
}
.center{
	text-align: center; 
}	
.heading-highlight{
    color:#f7a05c;
}

svg {
	vertical-align: middle;
	margin: auto;
	align-content: center;
}
svg:not(:root) {
	overflow: hidden;
}
.icon-big>svg {
	width: 100px;
	height: 100px;
}
.icon-medium>svg {
	width: 50px;
	height: 50px;
}
.icon-small>svg {
	width: 34px;
	height: 34px;
}
.icon-ex-small>svg {
	width: 24px;
	height: 24px;
}

.section-admission{
		.slick-prev:before, .slick-next:before{
		color:#000;
	}
	.slick-prev, .slick-next{
		bottom:-25px;
		top:auto;
		right: 0;
        left: auto !important;
	}
	.slick-prev{
		right:25px;
	}
}

.premian-league{
	.slick-slider{
		.slick-slide{
			margin:0 50px;
		}
	}	

	.slick-prev, .slick-next{
		bottom: -25px;
			top: auto;
			right: 0;
			left: auto !important;
			&:before{	
				color: #000;
			
			}
	}
	.slick-prev {
		right: 25px;
	}
	
}
.slick-slider {
	width: 100%;
	margin: auto;
	.slick-slide{
		margin:0 15px;
	}
  }

  .recent-article{
	.slick-prev{
		right: 60px !important;
	}
	.slick-prev, .slick-next{
		background:#bf272d;
		bottom: auto;
		top: -25px;
		right: 15px;
		left: auto !important;
		padding: 0px 25px;
			&:before{	
				color: #fff;
			
			}
	}  
  }

  .inner-banner{
    margin-top:70px;
    position:relative;
    img{
        width:100%;
    }
    .page-title{
        position: absolute;
        bottom: 60px;
        background:rgb(255, 255, 255, 0.5);
        width: 100%;
        padding: 70px 0;
        color:#214f7a;
    }
}

textarea.form-control{
	border-radius: 15px;
	resize: none;
}

img{
	width:100%;
}

.main-banner{
	.carousel-caption{
		h3{
			color:#bf272d;
			font-size:40px;
			font-weight: bold;
			font-family: "Lora", serif;
		}
		p{
			color:#000;
			font-weight: bold;
		}
	}
}

ul.list{
	margin-top:35px;
	li{
		padding: 0 0 20px 20px;
		list-style: none outside;
		font-size: 16px;
		position: relative;
		color:#fff;
		&::before{
			content: " ";
			background: #fff;
			font-weight: bold;
			position:absolute;
			top:8px;
			left:0px;
			width: 10px; 
			height:10px;
			border-radius: 50%;
			margin-right: 10px;
		}
	}
}

// .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
// 	padding-right: 0px;
//     padding-left: 0px;
// }

// @media(min-width: 768px){
// 	.container{
// 	width:calc(720px - 64px);
// 	margin-right:64px;
// }
// }

// @media(min-width: 992px){
// 	.container{
// 	width:calc(960px - 64px);
// 	margin-left:64px;
// }
// }

// @media(min-width: 1200px){
// 	.container{
// 	width:calc(1140px - 64px);
// 	margin-left:64px;
// }
// }

.sub-header{
	.panel{
		padding-bottom:0px !important;
		padding-right:0px !important;
	}
	.doodle{
	   font-size: 72px;
	   font-family: "Lora", serif;
	   color:#f0f0f0;
	   text-align: right;
	   line-height: 90px;
	}
}

.partner{
	.slick-list{
		padding:50px 0px;
	}
}


.main-page{
	float:none;
	.flying-img{
		display:none;
	}
}

.flying-img{
	position: absolute;
	width:150px;
	z-index: -1;
	opacity: 0.5;
	height:100%;
	top:0px;
	&.right-fly{
		background: url(../assets/images/flying/right.png) repeat-y;
		right:0px;
	}
	&.left-fly{
		background: url(../assets/images/flying/left.png) repeat-y;
		left:70px;
	}
}

// .flying-img{
// 	position: absolute;
// 	width:100px;
// 	z-index: 1;
// 	opacity: 0.8;
// 	&._1{
// 		left:80px;
// 		top:100px;
// 	}
// 	&._2{
// 		left:80px;
// 		top:180px;
// 	}
// 	&._3{
// 		left:80px;
// 		top:120px;
// 	}
// 	&._4{
// 		right:80px;
// 		top:120px;
// 	}
// 	&._5{
// 		left:300px;
// 		top:90px;
// 	}
// 	&._6{
// 		right:90px;
// 		top:150px;
// 	}
// 	&._7{
// 		left:70px;
// 		top:170px;
// 	}
// 	&._8{
// 		right:20px;
// 		top:200px;
// 	}
// 	&._9{
// 		left:80px;
// 		top:230px;
// 	}
// 	&._10{
// 		right:10px;
// 		top:230px;
// 	}
// 	&._11{
// 		left:0px;
// 		top:0px;
// 	}
// 	&._12{
// 		left:0px;
// 		top:0px;
// 	}
// 	&._14{
// 		right:0px;
// 		top:0px;
// 	}
// 	&._15{
// 		right:0px;
// 		top:0px;
// 	}
// 	&._16{
// 		right:0px;
// 		top:0px;
// 	}
// 	&._17{
// 		left:0px;
// 		top:0px;
// 	}
// 	&._18{
// 		right:0px;
// 		top:0px;
// 	}
// }


@media (max-width: 576px){
	nav{
		width:100% !important;
	}
	section:first-child{
		margin-top:150px;
		overflow: hidden;
	}
	.row , .row-f{
		margin:0 !important;
	}
	
	.img-flag, .panel-body{
		width:100% !important;
	}
	.left-space{
		padding-left: 0px;
		float: left;
	}
	.navbar-vertical{
		display:none;
	}
	.newsletter {
		.btn{
			margin:15px 0 0 0;
		}
	}
	.navbar-nav-list{
		float: left;
	}
	.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
	padding-right: 15px;
    padding-left: 15px;
	}
}