<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <div class="flying-img _1">
    <img src="assets/images/flying/1.png">
</div>
<div class="flying-img _2">
    <img src="assets/images/flying/2.png">
</div>
<div class="flying-img _3">
    <img src="assets/images/flying/3.png">
</div>
<div class="flying-img _4">
    <img src="assets/images/flying/4.png">
</div>
<div class="flying-img _5">
    <img src="assets/images/flying/5.png">
</div>
<div class="flying-img _6">
    <img src="assets/images/flying/6.png">
</div>
<div class="flying-img _7">
    <img src="assets/images/flying/7.png">
</div>
<div class="flying-img _8">
    <img src="assets/images/flying/8.png">
</div>
<div class="flying-img _9">
    <img src="assets/images/flying/9.png">
</div>
<div class="flying-img _10">
    <img src="assets/images/flying/10.png">
</div>
<div class="flying-img _11">
    <img src="assets/images/flying/11.png">
</div>
<div class="flying-img _12">
    <img src="assets/images/flying/12.png">
</div>
<div class="flying-img _13">
    <img src="assets/images/flying/13.png">
</div>
<div class="flying-img _14">
    <img src="assets/images/flying/14.png">
</div>
<div class="flying-img _15">
    <img src="assets/images/flying/15.png">
</div>
<div class="flying-img _16">
    <img src="assets/images/flying/16.png">
</div>
<div class="flying-img _17">
    <img src="assets/images/flying/17.png">
</div>
<div class="flying-img _18">
    <img src="assets/images/flying/18.png">
</div> -->
