body{
	color:#000;
	font-family: 'Quicksand', sans-serif;
	font-size:14px;
	background:#f0f0f0;
}
.form-control, .btn{
	border-radius: 0;
}

.breadcum{
	margin-top:25px;
	margin-left:150px;
	font-family: "Lora", serif;
	span{
		margin:0 15px;
	}
	.icon-ex-small{
		svg{
			width: 14px;
			height: 14px;
		}
	}
	
}

.clearfix{
	clear: both;
	float:none;
	
}

.text-highlighter{
	color:#bf272d;
}
.bg-highlighter{
	background:#bf272d;
}
ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.btn{
	font-weight:bold;
}
h1{
	font-size:40px;
	font-family: 'Lora', serif;
}
h2{
	font-size:34px;
	font-family: "Lora", serif;
}
h3{
	font-size:30px;
}
h4{
	font-size:26px;
}
h5{
	font-size:22px;
}
h6{
	font-size:18px; 
	line-height: 32px;
}
h1{
	font-weight:bold;
}
.center{
	text-align: center; 
}	
.heading-highlight{
    color:#f7a05c;
}
.btn{
    padding: 8px 30px;
}
svg {
	vertical-align: middle;
	margin: auto;
	align-content: center;
}
svg:not(:root) {
	overflow: hidden;
}
.icon-big>svg {
	width: 100px;
	height: 100px;
}
.icon-medium>svg {
	width: 50px;
	height: 50px;
}
.icon-small>svg {
	width: 34px;
	height: 34px;
}
.icon-ex-small>svg {
	width: 24px;
	height: 24px;
}

.section-admission{
		.slick-prev:before, .slick-next:before{
		color:#000;
	}
	.slick-prev, .slick-next{
		bottom:-40px;
		top:auto;
		right: 0;
        left: auto !important;
	}
	.slick-prev{
		right:25px;
	}
}


.slick-slider {
	width: 100%;
	margin: auto;
	.slick-slide{
		margin:0 15px;
	}
  }

  .inner-banner{
    margin-top:70px;
    position:relative;
    img{
        width:100%;
    }
    .page-title{
        position: absolute;
        bottom: 60px;
        background:rgb(255, 255, 255, 0.5);
        width: 100%;
        padding: 70px 0;
        color:#214f7a;
    }
}

textarea.form-control{
	border-radius: 15px;
	resize: none;
}

img{
	width:100%;
}

.main-banner{
	.carousel-caption{
		h3{
			color:#bf272d;
			font-size:40px;
			font-weight: bold;
			font-family: "Lora", serif;
		}
		p{
			color:#000;
			font-weight: bold;
		}
	}
}

ul.list{
	margin-top:35px;
	li{
		padding: 0 0 20px 20px;
		list-style: none outside;
		font-size: 16px;
		position: relative;
		color:#fff;
		&::before{
			content: " ";
			background: #fff;
			font-weight: bold;
			position:absolute;
			top:8px;
			left:0px;
			width: 10px; 
			height:10px;
			border-radius: 50%;
			margin-right: 10px;
		}
	}
}

@media (max-width: 576px){
	.navbar-vertical{
		display:none;
	}
	.newsletter {
		.btn{
			margin:15px 0 0 0;
		}
	}
	.navbar-nav-list{
		float: left;
	}
}