.section-study-culture{
	.row-f, .row{
		margin:70px 0 100px; 
		position: relative;
	}
	.curriculum{
		margin-bottom:0px;
		.curriculum-1{
			.panel {
				padding:0px 30px;
			}
			padding:0;
			background:#fff;
			p{
				padding:30px;
			}
			.img-flag{
				width:100%;
				top:-100px;
			}
		}
	}
	.panel {
		background:#fff;
		padding:50px;
		.panel-body{
			width:50%;
		}
		
	}
	h1{
		margin-left:65px;
		margin-bottom: 35px;
	}
	h2{
		position:relative;
		padding-bottom:5px;
		line-height: 60px;
		margin-bottom: 30px;
		&::before{
			content:" ";
			position: absolute;
			bottom:0;
			left:0;
			width:50px;
			height:2px;
			background:#f0f0f0;
		}
	}
	.our-mission{
		.img-flag{
			left: 0px;
			z-index: 1;
			top: -25px;
		}
		.panel{
			float:right;
		}
		.panel-body{
			margin-left:50%;
		}
	}
	.img-flag{
		position: absolute;
		right:0;
		top:0;
		width: 50%;
	}
	ul.list{
		margin:0px;
		li{
			color:#000;
			&::before{
				background:#bf272d;
			}
		}
	}
}

.more-info{
	h2{
		margin:30px 0 0;
	}
	.panel{
		background:#bf272d;
		margin-top: 35px;
		margin-bottom: 70px;
		ul.list{
			li {
				color:#fff;
			&::before{
				background: #fff;
			}	
			}
		}
	}
	float:none;
	clear:both;
	p{
		color:#fff;
	}
}

.our-belief{
	h2{
		color:#bf272d;
	}
	.panel{
		background:#3e65ac;
		color:#fff;
		ul.list{
			li{
				color: #fff;
				&::before{
					background:#fff;
				}
		}
		}
	}
}

.partner{
	margin-top:40px;
	.panel{
		height:300px;
		position: relative;
		&:hover{
			.info-view{
				display:block;}
		}
	}
	.img-box{
		height:95px;
		margin-bottom:25px;
		img{
			height:100%;
			width:auto;
			margin:0 auto;
		     display:block;
		}
	}
	p{
	 font-size:20px;	
	 font-family:"Lora", serif;
	}

	.info-view{
		padding:20px;
		display:none;
		background:#3e65ac;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 1;
		box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
		.img-box{
			width:75px;
			height:75px;
			border-radius:50%;
			overflow:hidden;
			margin-bottom:0;
			margin-bottom:20px;
			background:#fff;
		}
		p,h5,a{
			color:rgba(255, 255, 255, 0.5);
		}
		p{
			font-size:14px;
			font-family: "Quicksand", sans-serif;
		}
		h5{
			position: relative;
			padding-bottom:10px;
			margin-bottom:10px;
			&::after{
				content: "";
				background:rgba(255, 255, 255, 0.5);
				height:1px;
				width:50px;
				position: absolute;
				bottom:0;
				left:0;
			}
		}
	}
}

@media (max-width: 576px){
	.section-study-culture{
		.row-f, .row, h1{
			margin-left:0px; 
	}
	.breadcum{
		margin-left:15px;
	}
	.img-flag{
		padding:15px;
		position: static;
		width:100%;
	}
}
.section-study-culture {
	.our-mission{
		margin: 0 15px;
		.panel-body {
			margin-left: 0;
		}
		.panel{
			float:none;
		}
		.img-flag{
			padding:15px 0;
		}
	}
}
}