<section class="premia-ethos">
    <div class="breadcum">
        <a>
            <i class="icon icon-ex-small">
                <svg focusable="false">
                    <use xlink:href="#icon_home"></use>
                </svg>
            </i>
        </a>
        <span> |</span>
        <a>
            Premia ETHOS
        </a>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 data-aos="fade-up" data-aos-once="true">
                Premia ETHOS
            </h1>
            <div class="panel-body" data-aos="fade-up" data-aos-once="true">
                <h2 class="center">THE CULTURE AND ATMOSPHERE OF OUR SCHOOL
                </h2>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12" data-aos="fade-up" data-aos-once="true">
            <img src="assets/images/premia-ethos.jpg">
        </div>
    </div>

    <div class="row prodigy">
      <div class="col-lg-12 col-md-12 col-sm-12" data-aos="fade-up" data-aos-once="true">
          <div class="panel">
            <h2> <i class="icon icon-medium">
                <svg focusable="false">
                    <use xlink:href="#icon_ethicalEdu"></use>
                </svg>
            </i>Prodigy (Miracles in making)</h2>
            <p> It's our driving force that all our children go on to achieve their aspirations and live lives that inspire one and all. Every step we take, every move we make, is an effort to ensure we awaken the hidden prodigy every pupil. That journey builds itself on the bedrock of integrity, growth and innovation mindset and their tireless quest for knowledge. While everyone focuses on the thirst for materialistic success in life, little do we understand that
                fame, success and prosperity is the by-product of work done with passion and purpose</p>
            </div>
        </div>

    </div>

    <div class="row white">
        <div class="col-lg-12 col-md-12 col-sm-12" data-aos="fade-up" data-aos-once="true">
              <div class="panel">
            <p> The Premia Academy was founded on the belief that every child has the potential to make the world a beautiful place. Every child is unique and capable of learning when stimulated properly. Premiaa Academy believes in the development of these primary areas.  
                Every institution has a framework or ground rules that they function with for the empowerment of every stakeholder. We at Premia like to call it the Premia ethos. We aspire to build a positive and progressive culture in our school, not only within our corridors and premises but in the very lives of all who are a part of our journey-children, parents, teachers, staff and administration. 
                We revisit our methods from time to time to ensure that we constantly and consistently keep soaring towards our goal of engendering an atmosphere to empower SOCIALLY RESPONSIBLE CITIZENSHIP.
                While most would say food and water and the basic needs of life help a child survive, we at the Premia Academy beg to differ, we strongly believe that safety, love and a positive learning environment helps children thrive. </p>
            </div>
          </div>
  
      </div>

  </section>
