.premia-ethos{
    .row{
        margin:70px 0 100px 70px ; 
        position: relative;
    }
    .prodigy{
        background:#3e65ac;
        color:#fff;
        svg{
            fill:#fff;
        }
    }
    .white{
        background:#fff;
    }
}
