<div class="main-banner">
    <!-- <ngb-carousel #carousel interval="5000" [showNavigationArrows]="showNavigationArrows" [pauseOnHover]="pauseOnHover"
    (slide)="onSlide($event)">
        <ng-template ngbSlide  *ngFor="let info of banner; index as i">
          <div class="picsum-img-wrapper">
            <img src="assets/images/banner{{i+1}}.jpg" alt="Random first slide">
          </div>
          <div class="carousel-caption">
           <h3>{{info.title}}</h3>
            <p>{{info.description}}</p>
          </div>
        </ng-template>     
      </ngb-carousel> -->

    <video controls autoplay>
        <source src="assets/images/banner.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

</div>

<section class="section-admission">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 admission-flag">
                <div class="flag-pos">
                    <div class="v-align">
                        <h1>Join<br>
                            The Premia<br>
                            Family
                            <br>
                            <button class="btn btn-primary" (click)="knowMore('apply');">Apply Now</button></h1>
                    </div>
                </div>
            </div>

            <ngx-slick-carousel class="carousel col-lg-9 col-md-9 col-sm-12" #slickModal="slick-carousel"
                [config]="admissionConfig">
                <div ngxSlickItem *ngFor="let item of admission; index as i" class="slide">
                    <div class="panel">
                        <div class="panel-front">
                            <div class="panel-heading">
                                <i class="icon icon-medium">
                                    <svg focusable="false">
                                        <use attr.xlink:href="{{item.icon}}"></use>
                                    </svg>
                                </i>

                                <p>{{item.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>

        </div>
    </div>
</section>

<section class="section-info">
    <img src="assets/images/1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <h1 data-aos="fade-up" data-aos-once="true">We don’t just
                    teach kids,<br>
                    we nurture them</h1>
            </div>
            <div *ngFor="let item of solution" class="col-lg-4 col-md-4 col-sm-12 panel-container" data-aos="fade-up" data-aos-once="true">
                <div class="panel">
                    <div class="panel-front">
                        <div class="panel-heading">
                            <i class="icon icon-medium">
                                <svg focusable="false">
                                    <use attr.xlink:href="{{item.icon}}"></use>
                                </svg>
                            </i>
                        </div>

                    </div>
                    <div class="panel-back">
                        <p>{{item.description}}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-nofify">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <h1 data-aos="fade-up" data-aos-once="true">What drives<br>
                    us?</h1>
            </div>
            <div *ngFor="let item of notify" class="{{item.col}} col-sm-12" data-aos="fade-up" data-aos-once="true">
                <div class="panel">
                    <div class="panel-front">
                        <div class="panel-heading">
                            <h5><span>{{item.title}}</span></h5>
                            <p>{{item.description}}</p>
                            <ul class="list">
                                <li *ngFor="let data of item.moreInfo">
                                    {{data.info}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="section-curriculum">
    <div class="row-f">
        <div class="col-lg-9 col-md-9 col-sm-12 float-right p0" data-aos="fade-up" data-aos-once="true">
            <img src="assets/images/2.jpg">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
        <div class="row" data-aos="fade-up" data-aos-once="true">
            <ul ngbNav #collapse #nav="ngbNav" [ngClass]="isOpen ? '' : 'drop-down-active'" [(activeId)]="active" 
                    class="nav-pills section-curriculum-list col-lg-4 col-md-4 col-sm-12" orientation="vertical">
                    <li class="d-sm-block d-md-none drop-down" (click)="drowDownToggle()"> 
                         <i class="icon icon-ex-small">
                            <svg focusable="false">
                                <use xlink:href="#icon_downArrow"></use>
                            </svg>
                        </i>
                    </li>
                    <li ngbNavItem="1" (click)="drowDownToggle()">
                        <a ngbNavLink>CURRICULUM</a>
                        <ng-template ngbNavContent>
                            <p>
                                An integrated curriculum extends a framework with significant and expressive learning including assessments and evaluation to meet the standards and benchmarks of the boards whose learning objectives are the guide. At the Premia Academy we believe that education is not memorizing the facts but training the mind to think creatively and critically! APPLICATION- LEARN HOW TO LEARN -  Students creating meaningful lifelong experiences!
                            </p>
                            <ul class="list">
                                <li>
                                    <b>Best possible start to learning</b>
                                    <p>Our caring, experienced teachers and teacher assistants give our youngest students the best possible start to learning. Our play-based learning environment captures their natural curiosity and sense of wonder. Our core subjects are complemented by all core subject classes, including Physical Education, Visual & Performing Arts and Music are all delivered in a warm, nurturing environment.</p>
                                </li>
                                <li>
                                    <b>A positive foundation for learning</b>
                                    <p>At The Premia Academy children are introduced to a love of play and learning, by creating opportunities to explore, experiment, solve problems and express themselves as individuals. Sustained learning and the ability to apply concepts facilitates self-confidence and motivation. A deeper understanding of science and math concepts, improved reading and writing skills, fostering positive attitudes and personal growth, critical thinking skills and improved quality of work, will result in remarkable academic success.</p>
                                </li>
                                <li>
                                    <b>Personal development for life</b>
                                    <p> Along with a positive start to learning, our teachers place an emphasis on oral language development and nurturing social relationships. Our teachers know a structured foundation is important for young children, to help them develop and grow into confident individuals.
                                    An exceptional learning space is provided for our young students, with high-quality trained staff who care and guide the young children.</p>
                                </li>
                            </ul>
                                <button class="btn btn-primary" (click)="knowMore('culture');">KNOW MORE</button>
                            
                        </ng-template>
                    </li>
                    <li ngbNavItem="2" (click)="drowDownToggle()">
                        <a ngbNavLink>PREMIA EDGE</a>
                        <ng-template ngbNavContent>
                            <p>
                                The integrated curriculum at Premia comprises & aligns with all the learning outcomes in
                                CBSE, IGCSE & AERO standards. The curriculum includes reading, writing, listening,
                                speaking, social studies, math, science, health, physical education, music, and visual
                                arts, experiential learning, public speaking, emphasis on projects, etc. We at Premia
                                will utilize different approaches of integration best suited for the students:
                            </p>
                                <ul class="list">
                                    <li>
                                        <b>Multi-Disciplinary Integration -</b><br>
                                To focus on reading, writing, and communication in all its forms, in language arts. This
                                approach focuses on integration within one subject area, teaching the content with
                                deeper understanding.
                                    </li>
                                    <li>
                                        <b>Inter-disciplinary integration -</b><br>
                                        Focuses on project-based learning in more than one subject area. Interdisciplinary
                                        integration assembles the teaching of several subjects around common issues, or
                                        problems, highlighting thematic concepts in which a common theme is studied.
                                    </li>
                                    <li>
                                        <b>Trans-disciplinary integration -</b><br>
                                        Involves understanding the student’s interests, and concerns while encouraging them to
                                        ask questions to inquire about the subject matter from a variety of perspectives.
                                        Interdisciplinary integration incorporates information, involving students’ interests
                                        and questions.
                                    </li>
                              </ul>
                                <button class="btn btn-primary" (click)="knowMore('edge');">KNOW MORE</button>
                            
                        </ng-template>
                    </li>
                    <li ngbNavItem="3" (click)="drowDownToggle()">
                        <a ngbNavLink>COMMUNICATION
                            AND LANGUAGE</a>
                        <ng-template ngbNavContent>
                            <p>
                                Communication and language development is about different ways a child understands and communicates, using words, gestures or facial expressions. As an indicator of fine motor skills development and a reflection of cognitive development, reading is one of the best ways to encourage communication and language development. The Premia Academy has introduced Guided Reading into the curriculum using a broad spectrum of reading material from different genres to help children become accomplished readers at their grade levels.

                            </p>
                        </ng-template>
                    </li>
                    <li ngbNavItem="4" (click)="drowDownToggle()">
                        <a ngbNavLink>PERSONAL, SOCIAL AND
                            EMOTIONAL DEVELOPMENT</a>
                        <ng-template ngbNavContent>
                            <p>
                                It’s essential for children to feel comfortable, emotionally and physically to learn effectively. Helping children to learn how to regulate and manage their feelings is, therefore, a vital stepping stone for success in learning and life. Children have an innate potential and our specialized life skills program takes them on a journey of exploration enhancing enduring leadership skills. 
                            </p>
                        </ng-template>
                    </li>
                    <li ngbNavItem="5" (click)="drowDownToggle()">
                        <a ngbNavLink>PHYSICAL DEVELOPMENT</a>
                        <ng-template ngbNavContent>
                            <p>
                                Children meet a myriad of physical development milestones in the first few years of life, from walking to drawing, which focuses on increasing the skill and performance of the body. The development of a child’s physical skills is developed holistically across all areas of learning.
                                The Premia Academy recognises the benefits of instilling lifelong fitness habits in our students ensuring long term physical, cognitive and psychosocial health & development.  
                            </p>
                        </ng-template>
                    </li>
                </ul>

                <div [ngbNavOutlet]="nav" class="col-lg-8 col-md-8 col-sm-12 curriculum-info"></div>
         </div>
    </div>
</section>


<div class="clear-float"></div>
<section class="premian-league">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <h1 data-aos="fade-up" data-aos-once="true">The Premia League</h1>
            </div>
        
        <!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let list of premianLeague; index as i" class="slide">
                <img src="assets/images/premianleague{{i+1}}.jpg" alt="" width="100%">
                <h6>{{list.name}}</h6>
                <p>{{list.post}}</p>
                <p>{{list.desc}}</p>
            </div>
        </ngx-slick-carousel> -->
             <div *ngFor="let list of premianLeague; index as i" class="col-lg-4 col-md-4 col-sm-12">
                <img src="assets/images/premianleague{{i+1}}.jpg" data-aos="fade-up" data-aos-once="true">
                <h6 data-aos="fade-up" data-aos-once="true">{{list.name}}</h6>
             </div>
       
    </div>
    </div>
</section>


<section class="testimonials">
    <img src="assets/images/7.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1  data-aos="fade-up" data-aos-once="true">Parents Speak</h1>
                <ngb-carousel  #carousel interval="5000" [showNavigationArrows]='true' [showNavigationIndicators]='false'
                    [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
                    <ng-template ngbSlide *ngFor="let info of testimonials; index as i">
                        <p data-aos="fade-up" data-aos-once="true" >
                            {{info.clientView_1}}
                        </p>
                        <p data-aos="fade-up" data-aos-once="true" >
                            {{info.clientView_2}}
                        </p>
                        <p data-aos="fade-up" data-aos-once="true" >
                            {{info.clientView_3}}
                        </p>
                        <p data-aos="fade-up" data-aos-once="true" >
                            <span class="client-name"> <b>{{info.clientName}}<br>
                            {{info.desti}}</b></span>
                        </p>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</section>

<div class="container partner">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 float-right">
                <h2 data-aos="fade-up" data-aos-once="true" >
                    Our Partners
                </h2>
                    <p data-aos="fade-up" data-aos-once="true" >Our quest for creating the perfect learning environment led to collaborating with a few organisations whose vision aligned with ours. Each of the programs are well researched to cater to the needs of the millennials who require constant innovation. With combined ideologies and compassion, successful partnerships are created on a trajectory to deliver nothing but the best! </p>
               
            </div>

            <ngx-slick-carousel class="carousel col-lg-12 col-md-12 col-sm-12" #slickModal="slick-carousel"
                [config]="partnerConfig">
                <div ngxSlickItem *ngFor="let item of partner; index as i" class="slide" data-aos="fade-up" data-aos-once="true">
                    <div class="panel">
                       <div class="panel-heading">
                                <div class="img-box">
                                    <img src="assets/images/partner{{i+1}}.png">
                                </div>
                                <p>{{item.description}}</p>
                            </div>
                        <div class="info-view">
                            <div class="panel-heading">
                                <div class="img-box">
                                    <img src="assets/images/partner{{i+1}}.png">
                                </div>
                                <h5>{{item.description}}</h5>
                                <p>{{item.description_2}}</p>
                                <a href="{{item.link}}" target="blank">{{item.link}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
 
<section class="newsletter">
    <div class="container">
        <div class="row">
            <form class="form-inline" action="/action_page.php">
                <label for="email">Newsletter </label>
                <input type="email" class="form-control" placeholder="Enter email" id="email">
                <button type="submit" class="btn btn-primary"> Subscribe</button>
            </form>
        </div>
    </div>
</section>