.section-about, .section-nofify, .premian-league, .section-events, .section-spacing{
	padding:70px 0;
	h1{
		margin-bottom:40px;
	}
}


.section-info{
	background:#3e65ac;
	position: relative;
	overflow:hidden;
	padding:50px 0;
	img{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity:.4;
	}
	
	h1, p{
		color:#fff;
	}
	svg{
		fill:#fff;
		margin-bottom:10px;
	}
	.panel-container{
		margin: 30px auto 0;
		display: block;
		text-align: center;
	}
}

.v-align{
	display: flex;
	align-items: center;
	justify-content: center;
	height:100%;
	padding:15px 0;
}

.section-nofify{
	
	h5{
		display:table;
		span{
			float:left;
		}
		&:after{ 
			content: " ";
			float:left;
			width:75px;
			height:2px;
			background:#ccc;
			margin-left:15px;
			margin-top: 13px;
		}
	}
	ul.list li{
		color:#000;
		&::before{
			background:#bf272d;
		}
	}
}

.section-admission{
	.admission-flag{
		position:relative;
		text-align:center;
		color:#fff;
		padding:25px 0;
		height:250px;
		.flag-pos{
			content:'';
			background:#bf272d;
			position: absolute;
			top: -25px;
			left: 0px;
			width: 100%;
			height: 300px;
			z-index: 1;
			box-shadow: 7px 5px 10px 0px rgba(0, 0, 0, 0.5);
		}
        .btn{
			border:1px solid #fff;
			color:#fff;
			background:none;
		}
	}
	p{
		white-space: pre;
		margin-top:15px;
	}
	.carousel{
		.panel{
			i{
				margin:0 auto;
				display:block;
				text-align:center;
			}
			svg{
				width:75px;
				height:75px;
			}
			p{
				font-size:20px;
				font-family: "Lora", serif;
				text-align:center;
			}
		}
	}
}

.section-curriculum{
	ul{
		&.list {
			li{
				&::before{
					background:#bf272d;
				}
			}
		}
	}
	.row-f{
		float:left;
		width:100%;
		.p0{
			padding:0px;
		}
		
	}

	.section-curriculum-list{
		margin-top:15px;
		&.nav-pills{
			li{
				margin-bottom:30px;
				.nav-link{
					color: #000;
					padding-left:50px;
					position: relative;
					&.active{
						background:none;
						color: #bf272d;
						&::after{
							content: "";
							position: absolute;
							left:0;
							top:17px;
							width: 40px;
							height: 2px;
							background: #bf272d;
						}
					}
				}
				
			}
		}
	}
	
	.curriculum-info{
		margin-top:-50px;
		background:#3e65ac;
		padding:30px;
		color:#fff;
		font-family: "Lora", serif;
		font-size:16px;
		.btn{
			background:none;
			border:2px solid #fff;
			color:#fff;
			float:right;
			font-family: "Lora", serif;
		}
		p{
			font-size:12px;
		}
	}
	

	.text-highlighter{
			&:after{
			content: " ";
			float: left;
			width: 40px;
			height: 2px;
			background: #bf272d;
			margin: 10px 0px 0 -45px;
			}
		} 
}

::ng-deep .testimonials{
	background:#bf272d;
	position:relative;
	overflow: hidden;
	padding-top:50px;
	img{
		width:100%;
		position: absolute;
		top:0;
		left:0;
		opacity:0.5;
	}
	h1{
		color:#fff;
		margin-bottom:20px;
	}
	p{
		font-size:18px;
		font-weight:700;
		color:#fff;
		margin-bottom:5px;
		&:last-child{
			margin-top:35px;
		}
	}
	.carousel{
		margin-top:0;
		z-index:1;
		margin-left: 50px;
	}
	.carousel-inner{
		height:282px;
	}
	.carousel-indicators li{
		height:10px;
		border-radius:10px;
		border:1px solid #fff;
		background:transparent;
		&.active{
			background:#fff;
		}
	}
	.carousel-item {
		transition: opacity 1s ease !important;
		position: absolute !important;
		display: block !important;
		opacity: 0;
		&.active {
				position: relative !important;
				opacity: 1;
			  }
	  }
	  .carousel-control-next, 
	  .carousel-control-prev{
		left:auto;
		right:0;
		top: auto;
    	bottom: 75px;
		}
		.carousel-control-prev{
			right:100px;
		}
}

.section-events {
	position: relative;
	display: table;
	width: 60%;
	margin:0 auto;
	h6{
		margin: 35px 0 40px;
	}
	.events-grid{
		li{
			width:50%;
			float:left;
			list-style-type: none;
			figure{
				margin:0 0 10px 0;
			}
		
			&:nth-child(4), &:nth-child(5){
				figure{
					margin:0;
				}
			}
		}
		button{
			background:none;
			border:2px solid #fff;
		}
	}
	.p1{
		padding:1px;
	}
	figure {
		position: relative;
		float: left;
		overflow: hidden;
		width: calc(100% - 10px);
		background-color: #fff;
		margin:0;
		cursor: pointer;
		img {
			position: relative;
			display: block;
			-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			max-width: 100%;
			height: auto;
		}
		.show-more-overlay {
			background: rgba(0, 0, 0, 0) linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 23%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 68%, rgba(0, 0, 0, 0) 81%, rgba(0, 0, 0, 0) 92%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0;
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			transform: translateY(100%);
			transition: all 0.5s ease 0s;
		}
		
		figcaption {
			webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			position: absolute;
			bottom: 0px;
			left: 20px;
			right: 20px;
			max-height: 55px;
			-webkit-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			z-index: 2;
		}
		.show_date{
			color: #fff;
			font-size: 14px;
			margin-bottom: 10px;
		}
		.show_more-title {
			color: #fff;
			font-size: 21px;
			line-height: 30px;
			font-weight: 700;
			margin-bottom: 10px;
			font-family: "Lora", serif;
			
		}
		.show_more-desc {
			color: #fff;
			font-size: 14px;
			line-height: 18px;
			font-weight: 300;
			padding-top:15px;
			position:relative;
			&::after{
				content:'';
				background:#fff;
				top: 0;
				left: 0;
				position: absolute;
				width: 50px;
				height:3px;
				z-index: 1;}
		}
		&::after{
			content:'';
			background: rgba(0, 0, 0, 0.3);
			bottom: 0;
			left: 0;
			position: absolute;
			width: 100%;
			height:100%;
			z-index: 1;
		}
		&:hover{
			img{
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
			}
			.show-more-overlay
			{
				background: rgba(0, 0, 0, 0) linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%) repeat scroll 0 0;
				transform: translateY(0px);
			}
			figcaption
			{
				height: auto;
				max-height: 250px;
				bottom: 35px;
			}
		}
	}

}

.premian-league{
	background-color: rgba(247, 247, 247, .5);
	.slick-slide{
		img{
		  width: 100%;
		}
		h6{
			margin-bottom:0;
			margin-top:15px;
			line-height:18px;
			font-weight:bold;
		}
		p{
			white-space: pre;
		}
	}
}

.clear-float{
	clear:both;
	float:none;
}
.main-banner{
	height: 500px;	
	overflow:hidden;
	margin-top:89px;
	video{
		width:100% ; 
	}
}


.newsletter{
    background:#3e65ac;
    padding:40px 15px;
    .form-inline{
        margin:0 auto;
    }
    label{
        color:#000;
        font-size:20px;
        margin-right:15px;

    }
    .btn{
        background:#000;
        color:#fff;
        margin-left:15px;
        padding:9px 15px;
        text-transform: uppercase;
        font-size:14px;
    }
}
@media (max-width: 576px){
	.section-admission{
		.admission-flag{
			.flag-pos{
				top:0;
				left:0;
				height:auto;
			}
		}
	}

	.section-curriculum {
		.curriculum-info{
			margin-top:0px;
			
		}
	}

	.section-info{
		padding-bottom:0px;
		img{
			width:auto;
			height:100%;
		}
		.panel-container{
			padding-bottom:15px;
			margin-bottom:30px;
			border-bottom:1px solid rgba(255, 255, 255, 0.1);
			&:last-child{
				margin-bottom:0;
				border-bottom:0;
			}
		}
		svg{
			width: 75px;
			height: 75px;
			margin-bottom:30px;
		}
		 .panel{
			text-align: center;
		 }
	}

	.section-events{
		width:100%;
		.events-grid{
			li{
				width:100%;
				figure{
					width:100%;
					margin:0 0 15px 0;
				}
			}
		}
	}

	.section-curriculum {
		.row-f{
			margin-bottom:30px;
		}
	}

	.main-banner{
		height: auto;
	}
	.newsletter {
		.btn{
			margin:15px 0 0 0;
		}
	}
	.premian-league{
		img{
			width:100%;
		}
	}
}