<section class="section-study-culture section-inner-subheader">
    <div class="breadcum">
        <a>
            <i class="icon icon-ex-small">
                <svg focusable="false">
                    <use xlink:href="#icon_home"></use>
                </svg>
            </i>
        </a>
        <span> |</span>
        <a>
            How to apply
        </a>
    </div>


    <div class="row-f">
        <h1>
            How to apply?
        </h1>

        <div class="col-lg-11 col-md-11 col-sm-12 inner-info">
           
         <div class="panel">
              
                <div class="panel-body">
                <p>At Premia Academy, our school year calendar will begin from June through April. 
                    We encourage parents to submit the admission application, documents and payment as soon as possible. The Admissions Department will review completed applications prior to enrollment.
                   </p>
                
                    <ul class="list">
                        <li *ngFor="let data of moreInfo">
                            {{data.info}}
                        </li>
                    </ul>
                </div>
            </div>

            </div>
        <div class="img-flag">
            <img src="assets/images/10.jpg">
        </div>

    </div>
    <div class="clearfix"></div>

    <div class="row applycation-rules">
       <button class="btn btn-primary ">APPLY</button>
    </div>




</section>